// Set your color scheme here
// Does not affect the colors shown in User Profile color selector (st-admin-color-scheme.php on line 39)
// Additional variables found in admin/_variables.scss

@import "assets/css/scss/settings.colors";

// Generic neutral color
$neutral-color: $Ndarkest;

// Admin Menu main background color
$base-color: $neutral-color;

// Admin Menu main highlight color
$highlight-color: $springColor1;

// Admin menu default text color
$text-color: $Nlighter;

// Primary admin menu highlighted text color
$current-text-color: $Nlightest;

// Primary admin menu icon color
$icon-color: $text-color;



// Global Action and notification items (by default based off the highlight color)
$notification-color: lighten($highlight-color, 10%);
$action-color: darken($highlight-color, 2%);

// Global Link colors (by default based off the highlight color)
$link: $highlight-color;

// Global Focus highlight color (by default based off the highlight color)
$link-focus: lighten( $link, 20% );

// Global Button color (by default based off the action color)
$button-color: $action-color;

// Global Error Color (usually red)
$error-color: $warningColor;





// Primary Admin menu hover color
$menu-highlight-text: $link-focus;

// Primary Admin menu hover background (by default based off base color)
$menu-highlight-background: lighten($base-color, 10%);

// Admin Submenu highlighted text color (by default based off highlight color)
$menu-submenu-focus-text: lighten($highlight-color, 18%);

// Admin Submenu background (by default based off base color)
$menu-submenu-background: darken( $highlight-color, 55% );




// Body background color (by default based off base color)
$body-background: $Nlightest;

// Body text color (by default based off neutral color)
$body-text: lighten($neutral-color, 15%);
$body-secondary-text: darken($body-text, 20%);

// Metaboxes
$body-metabox: lighten($body-background, 5%);
$body-metabox-border: lighten($body-metabox, 10%);

@import "../../plugins/st-admin-color-scheme/admin/admin";