/*
 * Dashicons mixin
 * use: @include dashicons( '\f140' );
 */
/*
 * Button mixin- creates 3d-ish button effect with correct 
 * highlights/shadows, based on a base color.
 */
html, body {
  background: #322e2f;
  color: #f4f2f3; }

/* General Rules */
.wrap, .postbox {
  color: #f4f2f3; }
  .wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6, .postbox h1, .postbox h2, .postbox h3, .postbox h4, .postbox h5, .postbox h6 {
    color: #f4f2f3; }
  .wrap p, .postbox p {
    color: #f4f2f3; }
    .wrap p .description, .postbox p .description {
      color: #c5bbc0; }
  .wrap td, .wrap th, .wrap tfoot,
  .wrap .widefat td, .wrap .widefat th,
  .wrap .misc-pub-section,
  .wrap .tablenav-pages, .postbox td, .postbox th, .postbox tfoot,
  .postbox .widefat td, .postbox .widefat th,
  .postbox .misc-pub-section,
  .postbox .tablenav-pages {
    color: #f4f2f3;
    border-color: #5a5354; }
  .wrap #dashboard-widgets h3,
  .wrap #dashboard-widgets h4,
  .wrap #dashboard_quick_press .drafts h2,
  .wrap th .comment-grey-bubble:before,
  .wrap .sorting-indicator:before,
  .wrap .ac_match,
  .wrap .subsubsub a.current, .postbox #dashboard-widgets h3,
  .postbox #dashboard-widgets h4,
  .postbox #dashboard_quick_press .drafts h2,
  .postbox th .comment-grey-bubble:before,
  .postbox .sorting-indicator:before,
  .postbox .ac_match,
  .postbox .subsubsub a.current {
    color: #f4f2f3; }

a {
  color: #de1e7e; }
  a:hover, a:active, a:focus {
    color: #ec76b1; }

input[type=text],
input[type=search],
input[type=radio],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
input[type=password],
input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
select,
textarea,
#contextual-help-link-wrap,
#screen-options-link-wrap,
#titlediv #title,
#template textarea {
  background-color: #3f3a3b;
  border-color: #5a5354 !important;
  color: #f4f2f3 !important; }

a:focus,
a:focus .media-icon img,
input[type=text]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=search]:focus,
select:focus,
textarea:focus,
.button-link:focus,
.wp-core-ui .button-link:focus,
.button-secondary:focus,
.button.focus,
.wp-core-ui .button-secondary:focus,
.wp-core-ui .button.focus,
.button:focus,
.wp-core-ui .button:focus,
.theme-browser .theme:focus {
  border-color: #ec76b1 !important;
  -webkit-box-shadow: 0 0 3px #ec76b1;
  box-shadow: 0 0 3px #ec76b1; }

.media-frame input[type=text], .media-frame input[type=password], .media-frame input[type=number], .media-frame input[type=search], .media-frame input[type=email], .media-frame input[type=url], .media-frame select, .media-frame textarea {
  border-color: #5a5354; }

.highlight {
  background-color: #3f3a3b;
  color: #f4f2f3; }

.nonessential, .description, time, #title-prompt-text, #content-prompt-text, .count {
  color: #c5bbc0 !important; }

.wp-filter {
  border: #5a5354;
  background: #3f3a3b; }
  .wp-filter a {
    color: #f4f2f3; }
  .wp-filter .drawer-toggle, .wp-filter .drawer-toggle:before {
    color: #f4f2f3; }
  .wp-filter .filter-links li > a {
    border-bottom-color: #3f3a3b;
    color: #f4f2f3; }
    .wp-filter .filter-links li > a:focus, .wp-filter .filter-links li > a:hover {
      color: #ec76b1 !important; }
  .wp-filter .filter-links .current {
    border-bottom-color: #de1e7e;
    color: #f4f2f3; }

.filter-count .count, .title-count {
  background: #f4f2f3;
  color: #3f3a3b; }

#wpfooter {
  color: #f4f2f3; }

.js .postbox .handlediv:focus .toggle-indicator:before {
  -webkit-box-shadow: 0 0 0 1px #ec76b1, 0 0 2px 1px #ec76b1;
  box-shadow: 0 0 0 1px #ec76b1, 0 0 2px 1px #ec76b1; }

/* Other Link Rules */
#rightnow a:hover,
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover,
.ui-tabs-nav a:hover,
.wp-filter .drawer-toggle:hover,
.wp-filter .drawer-toggle:hover:before,
.show-filters .filter-links a.current:focus, .show-filters .filter-links a.current:hover {
  color: #ec76b1 !important; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #de1e7e; }

input[type=radio]:checked:before {
  background: #de1e7e; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active {
  color: #ec76b1; }

/* Core UI */
.wp-core-ui .button, .wp-core-ui .button-secondary {
  color: #f4f2f3;
  border-color: #5a5354;
  background: #3d3839;
  -webkit-box-shadow: 0 1px 0 #5a5354;
  box-shadow: 0 1px 0 #5a5354;
  vertical-align: top; }
  .wp-core-ui .button:hover, .wp-core-ui .button:focus, .wp-core-ui .button-secondary:hover, .wp-core-ui .button-secondary:focus {
    border-color: #4d4648;
    background: #353031;
    color: #ddd6da; }
.wp-core-ui .button-primary {
  background: #d51d79;
  border-color: #a8175f;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #e8569f, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #e8569f, 0 1px 0 rgba(0, 0, 0, 0.15);
  text-shadow: 0 -2px 2px #921453, 2px 0 2px #921453, 0 2px 2px #921453, -2px 0 2px #921453; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #b11865;
    border-color: #921453;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 #e54092, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 #e54092, 0 1px 0 rgba(0, 0, 0, 0.15); }
  .wp-core-ui .button-primary:active {
    background: #b11865;
    border-color: #921453;
    color: white;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
  .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
    color: #d1c7cc !important;
    background: #b11865 !important;
    border-color: #921453 !important;
    text-shadow: none !important; }
.wp-core-ui .wp-ui-primary {
  color: #d4ccd4;
  background-color: #252223; }
.wp-core-ui .wp-ui-text-primary {
  color: #252223; }
.wp-core-ui .wp-ui-highlight {
  color: #ec76b1;
  background-color: #3f3a3b; }
.wp-core-ui .wp-ui-text-highlight {
  color: #3f3a3b; }
.wp-core-ui .wp-ui-notification {
  color: #f4f2f3;
  background-color: #e64998; }
.wp-core-ui .wp-ui-text-notification {
  color: #e64998; }
.wp-core-ui .wp-ui-text-icon {
  color: #d4ccd4; }
.wp-core-ui .button.button-primary.button-hero {
  -webkit-box-shadow: 0 2px 0 #7b1146;
  box-shadow: 0 2px 0 #7b1146; }
.wp-core-ui .attachment .check {
  -webkit-box-shadow: 0 0 0 1px white, 0 0 0 2px #ec76b1 !important;
  box-shadow: 0 0 0 1px white, 0 0 0 2px #ec76b1 !important;
  background-color: #ec76b1; }
.wp-core-ui .attachment.details {
  -webkit-box-shadow: inset 0 0 0 3px #de1e7e, inset 0 0 0 7px #ec76b1 !important;
  box-shadow: inset 0 0 0 3px #de1e7e, inset 0 0 0 7px #ec76b1 !important; }
.wp-core-ui .attachment.details:focus, .wp-core-ui .attachment:focus, .wp-core-ui .selected.attachment:focus {
  -webkit-box-shadow: inset 0 0 2px 3px white, inset 0 0 0 7px #ec76b1 !important;
  box-shadow: inset 0 0 2px 3px white, inset 0 0 0 7px #ec76b1 !important; }
.wp-core-ui .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check, .wp-core-ui .media-selection .attachment-details {
  -webkit-box-shadow: 0 0 0 1px white, 0 0 0 2px #ec76b1 !important;
  box-shadow: 0 0 0 1px white, 0 0 0 2px #ec76b1 !important;
  background-color: #ec76b1; }
.wp-core-ui .selected-attachment, .wp-core-ui .selected.attachment {
  -webkit-box-shadow: inset 0 0 0 3px #de1e7e, inset 0 0 0 7px #ec76b1 !important;
  box-shadow: inset 0 0 0 3px #de1e7e, inset 0 0 0 7px #ec76b1 !important; }
.wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled] {
  color: #ec76b1 !important;
  background-color: #d51d79 !important;
  border-color: #a8175f !important; }
.wp-core-ui .button-disabled, .wp-core-ui .button-secondary.disabled, .wp-core-ui .button-secondary:disabled, .wp-core-ui .button-secondary[disabled], .wp-core-ui .button.disabled, .wp-core-ui .button:disabled, .wp-core-ui .button[disabled] {
  color: #c5bbc0 !important;
  text-shadow: 0 1px 0 #5a5354 !important;
  background: #5a5354 !important;
  border-color: #5a5354 !important; }

.drag-drop #drag-drop-area {
  border-color: #5a5354; }

.media-frame.hide-router .media-frame-title {
  border-color: #5a5354; }

.media-embed .setting span {
  color: #c5bbc0; }

.accordion-section-title:after, .handlediv, .item-edit, .sidebar-name-arrow {
  color: #c5bbc0; }

.accordion-section-title:hover:after, .handlediv:focus, .handlediv:hover, .item-edit:focus, .item-edit:hover, .sidebar-name:hover .sidebar-name-arrow, .widget-action:focus, .widget-top:hover .widget-action {
  color: #ec76b1; }

#screen-meta {
  background-color: #3f3a3b;
  border-color: #5a5354; }

#screen-meta-links .show-settings {
  color: #f4f2f3; }
  #screen-meta-links .show-settings:hover {
    color: #ec76b1; }
    #screen-meta-links .show-settings:hover:after {
      color: #ec76b1; }
  #screen-meta-links .show-settings:after {
    color: #f4f2f3; }

#contextual-help-back {
  border-color: #5a5354;
  background-color: #4d4648; }

.contextual-help-tabs a:hover {
  color: #ec76b1; }
.contextual-help-tabs .active {
  background-color: #4d4648;
  border-left-color: #e64998; }
  .contextual-help-tabs .active a {
    border-color: #5a5354;
    color: #f4f2f3; }

/* Errors */
#all-plugins-table .plugins a.delete, #media-items a.delete, #media-items a.delete-permanently, #nav-menu-footer .menu-delete, #search-plugins-table .plugins a.delete, .plugins a.delete, .row-actions span.delete a, .row-actions span.spam a, .row-actions span.trash a, .submitbox .submitdelete {
  color: #e22025; }

.column-comments .post-com-count-pending, .column-response .post-com-count-pending {
  background: #e22025; }

.notice-warning {
  border-left-color: #e22025; }

.notice-warning.notice-alt, .notice-success.notice-alt {
  background-color: #2a2728; }

.button.installing:before, .button.updating-message:before, .import-php .updating-message:before, .update-message p:before, .updating-message p:before {
  color: #e22025; }

.button.updated-message:before, .installed p:before, .updated-message p:before {
  color: green; }

.notice-success, div.updated {
  border-left-color: green; }

/* List tables */
.tablenav-pages-navspan {
  border-color: #6a6163;
  background: #272425;
  color: #f4f2f3; }

.tablenav .tablenav-pages a {
  border-color: #5d5557;
  background: #151314; }

.tablenav .tablenav-pages a:focus, .tablenav .tablenav-pages a:hover {
  border-color: #ec76b1;
  background: #de1e7e; }

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
  color: #de1e7e; }
  .wrap .add-new-h2:hover, .wrap .add-new-h2:active:hover, .wrap .page-title-action:hover, .wrap .page-title-action:active:hover {
    border-color: #ec76b1; }

.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
  background: black; }

.column-comments .comment-count-approved, .column-comments .comment-count-no-comments, .column-response .comment-count-approved, .column-response .comment-count-no-comments {
  background: #f4f2f3; }

.column-comments .post-com-count-approved:after, .column-comments .post-com-count-no-comments:after, .column-response .post-com-count-approved:after, .column-response .post-com-count-no-comments:after {
  border-top-color: #f4f2f3; }

.column-comments .post-com-count-approved:focus .comment-count-approved, .column-comments .post-com-count-approved:hover .comment-count-approved, .column-response .post-com-count-approved:focus .comment-count-approved, .column-response .post-com-count-approved:hover .comment-count-approved {
  background: #de1e7e; }

.column-comments .post-com-count-approved:focus:after, .column-comments .post-com-count-approved:hover:after, .column-response .post-com-count-approved:focus:after, .column-response .post-com-count-approved:hover:after {
  border-top-color: #de1e7e; }

.post-com-count:hover span {
  color: #f4f2f3;
  background: #de1e7e; }
  .post-com-count:hover span:after {
    border-top-color: #de1e7e; }

#the-comment-list .approve a {
  color: green; }
#the-comment-list .unapprove a {
  color: #e64998; }
#the-comment-list .unapproved td, #the-comment-list .unapproved th {
  background: inherit; }
#the-comment-list .unapproved th.check-column {
  border-color: #e64998; }

#latest-comments #the-comment-list .comment-meta {
  color: #c5bbc0; }

#submitted-on, .submitted-on {
  color: #f4f2f3; }

#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #d4ccd4;
  background-color: #252223; }

.view-switch a:before {
  color: #c5bbc0; }

.view-switch a.current:before {
  color: #252223; }

.view-switch a:hover:before {
  color: #e64998; }

.post-com-count:hover:after {
  border-top-color: #ec76b1; }

.post-com-count:hover span {
  color: #d4ccd4;
  background-color: #ec76b1; }

strong .post-com-count:after {
  border-top-color: #e64998; }

strong .post-com-count span {
  background-color: #e64998; }

.comment-ays, .feature-filter, .imgedit-group, .popular-tags, .stuffbox, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
  background: #474243; }

.alternate, .striped > tbody > :nth-child(odd), ul.striped > :nth-child(odd) {
  background-color: #3f3a3b; }

.alternate, .striped > tbody > :nth-child(even), ul.striped > :nth-child(even) {
  background-color: #4d4648; }

/* Dashboard */
#dashboard_right_now li a:before, #dashboard_right_now li span:before {
  color: white; }

#bulk-titles div a:before, .notice-dismiss:before, .tagchecklist span a:before, .welcome-panel .welcome-panel-close:before {
  color: #e64998; }
  #bulk-titles div a:before:hover, .notice-dismiss:before:hover, .tagchecklist span a:before:hover, .welcome-panel .welcome-panel-close:before:hover {
    color: #e22025; }

/* Posts */
#post-body ul.add-menu-item-tabs li.tabs a,
#post-body ul.category-tabs li.tabs a,
#side-sortables .add-menu-item-tabs .tabs a,
#side-sortables .category-tabs .tabs a,
.wp-tab-bar .wp-tab-active a {
  color: #f4f2f3; }

#poststuff .inside .the-tagcloud {
  border-color: #5a5354;
  background: #3d3839; }

#future-posts ul span, #published-posts ul span {
  color: #c5bbc0; }

#misc-publishing-actions .misc-pub-section {
  border-bottom-color: #5a5354; }

#post-status-info {
  border-color: #5a5354; }

#major-publishing-actions, .wp-editor-expand #post-status-info {
  background: #3d3839;
  border-color: #5a5354; }

.wp-media-buttons .add_media span.wp-media-buttons-icon:before,
#misc-publishing-actions label[for=post_status]:before, #post-body #visibility:before, #post-body .misc-pub-revisions:before, .curtime #timestamp:before, span.wp-media-buttons-icon:before {
  color: #c5bbc0; }

.acf-icon {
  background-color: #c5bbc0 !important;
  color: #f4f2f3 !important; }

.mce-btn button, .mce-toolbar .mce-ico {
  color: #c5bbc0 !important; }

.mce-toolbar .mce-btn-group .mce-btn:focus, .mce-toolbar .mce-btn-group .mce-btn:hover, .qt-dfw:focus, .qt-dfw:hover {
  background-color: #373334 !important;
  border-color: #5a5354;
  color: #ec76b1 !important;
  -webkit-box-shadow: inset 0 1px 0 #5a5354, 0 1px 0 rgba(0, 0, 0, 0.08) !important;
  -box-shadow: inset 0 1px 0 #5a5354, 0 1px 0 rgba(0, 0, 0, 0.08) !important; }

.wrap .wp-switch-editor {
  background: #171616;
  border-color: #5a5354;
  color: #c5bbc0; }
.wrap div.mce-toolbar-grp, .wrap .quicktags-toolbar, .wrap .html-active .switch-html, .wrap .tmce-active .switch-tmce {
  background: #3f3a3b;
  color: #f4f2f3;
  border-color: #5a5354; }
.wrap .tmce-active .switch-tmce, .wrap .html-active .switch-html {
  border-bottom-color: #3f3a3b; }
.wrap .wp-editor-expand #wp-content-editor-tools {
  border-color: #5a5354;
  background: #322e2f; }

.postbox {
  background: #3f3a3b;
  border: 1px solid #5a5354; }
  .postbox .hndle {
    border-bottom: 1px solid #5a5354; }

.activity-block {
  border-bottom: 1px solid #5a5354; }

.js #dashboard_quick_press .drafts {
  border-top: 1px solid #5a5354; }

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  background-color: #3f3a3b;
  border: 1px solid #5a5354; }
  .wrap .add-new-h2:hover,
  .wrap .add-new-h2:active:hover,
  .wrap .page-title-action:hover,
  .wrap .page-title-action:active:hover {
    background-color: #de1e7e;
    color: #f4f2f3; }

/* Active tabs use a bottom border color that matches the tab background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  border-bottom-color: #322e2f; }

.wp-tab-active, ul.add-menu-item-tabs li.tabs, ul.category-tabs li.tabs {
  border: 1px solid #5a5354;
  border-bottom-color: #3f3a3b;
  background-color: #3f3a3b; }

.categorydiv div.tabs-panel, .customlinkdiv div.tabs-panel, .posttypediv div.tabs-panel, .taxonomydiv div.tabs-panel, .wp-tab-panel {
  border-color: #5a5354;
  background-color: #3f3a3b; }
  .categorydiv div.tabs-panel li, .customlinkdiv div.tabs-panel li, .posttypediv div.tabs-panel li, .taxonomydiv div.tabs-panel li, .wp-tab-panel li {
    color: #f4f2f3; }

/* Admin Menu */
#adminmenuback,
#adminmenuwrap {
  background: #252223; }

#adminmenu {
  background: #252223;
  /* Admin Menu: submenu */
  /* Admin Menu: current */
  /* Admin Menu: bubble */ }
  #adminmenu a {
    color: #d4ccd4; }
  #adminmenu div.wp-menu-image:before,
  #adminmenu li a:focus div.wp-menu-image:before,
  #adminmenu li.opensub div.wp-menu-image:before,
  #adminmenu li:hover div.wp-menu-image:before {
    color: #d4ccd4; }
  #adminmenu a:hover,
  #adminmenu li.menu-top:hover,
  #adminmenu li.opensub > a.menu-top,
  #adminmenu li > a.menu-top:focus {
    color: #ec76b1;
    background-color: #3f3a3b; }
  #adminmenu li.menu-top:hover div.wp-menu-image:before,
  #adminmenu li.opensub > a.menu-top div.wp-menu-image:before,
  #adminmenu li.menu-top.selected div.wp-menu-image:before,
  #adminmenu li.menu-top:focus div.wp-menu-image:before {
    color: #ec76b1; }
  #adminmenu .wp-submenu,
  #adminmenu .wp-has-current-submenu .wp-submenu,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
    background: black; }
  #adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-right-color: black; }
  #adminmenu .wp-submenu .wp-submenu-head {
    color: #a0999f; }
  #adminmenu .wp-submenu a,
  #adminmenu .wp-has-current-submenu .wp-submenu a,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
    color: #a0999f; }
    #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
    #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
    #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
    #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
    #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
      color: #eb6dac; }
  #adminmenu .wp-submenu li.current a,
  #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
  #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
    color: #d4ccd4; }
    #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
    #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
    #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
    #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
      color: #eb6dac; }
  #adminmenu li.current a.menu-top,
  #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
  #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head {
    color: #f4f2f3;
    background: #de1e7e; }
    #adminmenu li.current a.menu-top div.wp-menu-image:before,
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu div.wp-menu-image:before,
    #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head div.wp-menu-image:before {
      color: #f4f2f3; }
    #adminmenu li.current a.menu-top:focus, #adminmenu li.current a.menu-top:hover,
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu:focus,
    #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu:hover,
    #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head:focus,
    #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head:hover {
      color: #f4f2f3; }
      #adminmenu li.current a.menu-top:focus div.wp-menu-image:before, #adminmenu li.current a.menu-top:hover div.wp-menu-image:before,
      #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu:focus div.wp-menu-image:before,
      #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
      #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head:focus div.wp-menu-image:before,
      #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head:hover div.wp-menu-image:before {
        color: #f4f2f3; }
  #adminmenu .awaiting-mod,
  #adminmenu .update-plugins {
    color: #f4f2f3;
    background: #e64998; }
  #adminmenu li.current a .awaiting-mod,
  #adminmenu li.current a:hover .awaiting-mod,
  #adminmenu li a.wp-has-current-submenu .update-plugins,
  #adminmenu li.menu-top:hover > a .update-plugins {
    color: #d4ccd4;
    background: black; }
  #adminmenu li:hover a .awaiting-mod,
  #adminmenu li.menu-top:hover > a .update-plugins {
    color: #d4ccd4;
    background: #ec76b1; }

.folded #adminmenu .wp-has-current-submenu .wp-submenu {
  background: black; }
.folded #adminmenu .wp-has-current-submenu .wp-submenu a {
  color: #a0999f; }
  .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover {
    color: #eb6dac; }
.folded #adminmenu li.current.menu-top {
  color: #f4f2f3;
  background: #de1e7e; }

/* Admin Menu: current */
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #322e2f; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #d4ccd4; }

#collapse-menu:hover {
  color: #ec76b1; }

#collapse-button div:after {
  color: #d4ccd4; }

#collapse-menu:hover #collapse-button div:after {
  color: #ec76b1; }

/* Admin Bar */
#wpadminbar {
  color: #d4ccd4;
  background: #252223; }
  #wpadminbar .ab-item,
  #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
    color: #d4ccd4; }
  #wpadminbar .ab-icon,
  #wpadminbar .ab-icon:before,
  #wpadminbar .ab-item:before,
  #wpadminbar .ab-item:after {
    color: #d4ccd4; }

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #eb6dac;
  background: black; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: black; }

#wpadminbar > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #eb6dac; }

#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #ec76b1; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: black; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #353535; }

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #a0999f; }

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #d4ccd4; }

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #eb6dac; }

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #eb6dac; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #d4ccd4; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #d4ccd4;
  background: #373334; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #d4ccd4;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #d4ccd4;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #d4ccd4;
  opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #d4ccd4;
  opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #373334;
  background-color: #373334; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #d4ccd4; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #eb6dac; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: #a0999f; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #eb6dac;
  background: black; }
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: black; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #de1e7e; }
  .wp-pointer .wp-pointer-content h3:before {
    color: #de1e7e; }
.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #de1e7e; }

/* Widgets */
.widgets-holder-wrap .description {
  color: #c5bbc0; }
.widgets-holder-wrap .widget-inside {
  background: #3f3a3b; }

.widgets-chooser {
  border-color: #5a5354; }
  .widgets-chooser li {
    border-color: #5a5354;
    background: #3f3a3b;
    color: #f4f2f3; }
    .widgets-chooser li:hover {
      background-color: #de1e7e; }
    .widgets-chooser li:before, .widgets-chooser li:focus:before {
      color: #f4f2f3; }
  .widgets-chooser li.widgets-chooser-selected {
    background: #de1e7e;
    color: #f4f2f3; }
    .widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before {
      color: #f4f2f3; }

.menu-item-handle, .widget .widget-top {
  background: #3f3a3b;
  border-color: #5a5354; }

#available-widgets .widget-top:hover, #widgets-left .widget-in-question .widget-top, #widgets-left .widget-top:hover, .widgets-chooser ul, div#widgets-right .widget-top:hover {
  border-color: #ec76b1; }

#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
  border: 1px solid #5a5354; }

#available-widgets .widget-description, #widgets-right a.widget-control-edit, .in-widget-title {
  color: #c5bbc0; }

.widget-action {
  color: #f4f2f3; }

/* Media Uploader */
.media-item .bar,
.media-progress-bar div {
  background-color: #de1e7e; }

.media-frame a {
  color: #de1e7e !important; }
.media-frame input[type=text]:focus, .media-frame input[type=password]:focus, .media-frame input[type=checkbox]:focus, .media-frame input[type=color]:focus, .media-frame input[type=date]:focus, .media-frame input[type=datetime]:focus, .media-frame input[type=datetime-local]:focus, .media-frame input[type=email]:focus, .media-frame input[type=month]:focus, .media-frame input[type=number]:focus, .media-frame input[type=radio]:focus, .media-frame input[type=tel]:focus, .media-frame input[type=time]:focus, .media-frame input[type=url]:focus, .media-frame input[type=week]:focus, .media-frame input[type=search]:focus, .media-frame select:focus, .media-frame textarea:focus {
  border-color: #ec76b1; }

.media-frame a:focus, .notice-dismiss:focus {
  -webkit-box-shadow: 0 0 0 1px #ec76b1, 0 0 2px 1px #ec76b1 !important;
  box-shadow: 0 0 0 1px #ec76b1, 0 0 2px 1px #ec76b1 !important; }

.media-frame-content {
  background: #3f3a3b;
  border-color: #5a5354;
  border-top: 1px solid #5a5354; }

.details.attachment {
  box-shadow: 0 0 0 1px #fff, 0 0 0 5px #de1e7e; }

.attachment-info {
  color: #f4f2f3;
  border-color: #5a5354; }
  .attachment-info .filename {
    color: #f4f2f3; }

.edit-attachment-frame .attachment-info {
  background: #322e2f;
  border-color: #5a5354;
  color: #f4f2f3; }
  .edit-attachment-frame .attachment-info .filename {
    color: #c5bbc0; }
  .edit-attachment-frame .attachment-info .details, .edit-attachment-frame .attachment-info .settings {
    border-color: #5a5354; }
.edit-attachment-frame .edit-media-header .left, .edit-attachment-frame .edit-media-header .right {
  color: #f4f2f3;
  border: #5a5354; }
  .edit-attachment-frame .edit-media-header .left:hover, .edit-attachment-frame .edit-media-header .left:focus, .edit-attachment-frame .edit-media-header .right:hover, .edit-attachment-frame .edit-media-header .right:focus {
    background: #322e2f;
    color: #ec76b1; }
.edit-attachment-frame .edit-media-header .left.disabled, .edit-attachment-frame .edit-media-header .right.disabled {
  color: #252223; }

.upload-php .media-modal-close {
  color: #f4f2f3;
  border: #5a5354; }
  .upload-php .media-modal-close .media-modal-icon:before {
    color: #f4f2f3; }
  .upload-php .media-modal-close:hover, .upload-php .media-modal-close:focus {
    background: #322e2f;
    color: #ec76b1; }

.attachment.details .check {
  background-color: #de1e7e !important;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #de1e7e !important;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #de1e7e !important; }

.attachment-details .setting span, .compat-item label .media-sidebar .setting span {
  color: white; }

.media-modal .imgedit-wrap .imgedit-settings, .media-menu, .media-sidebar {
  background: #322e2f;
  border-color: #5a5354;
  color: #f4f2f3; }
  .media-modal .imgedit-wrap .imgedit-settings h2, .media-modal .imgedit-wrap .imgedit-settings h3, .media-modal .imgedit-wrap .imgedit-settings p, .media-modal .imgedit-wrap .imgedit-settings label, .media-modal .imgedit-wrap .imgedit-settings span, .media-menu h2, .media-menu h3, .media-menu p, .media-menu label, .media-menu span, .media-sidebar h2, .media-sidebar h3, .media-sidebar p, .media-sidebar label, .media-sidebar span {
    color: #f4f2f3; }
  .media-modal .imgedit-wrap .imgedit-settings .separator, .media-menu .separator, .media-sidebar .separator {
    border-color: #5a5354; }

.media-modal .acf-expand-detaqils:hover {
  color: #ec76b1 !important; }

.media-modal-close .media-modal-icon:before {
  color: #de1e7e; }

.media-modal-close:hover .media-modal-icon:before {
  color: #ec76b1 !important; }

.media-modal-content {
  background: #3f3a3b;
  color: #f4f2f3; }
  .media-modal-content h1, .media-modal-content h2, .media-modal-content h3 {
    color: #f4f2f3; }

.media-frame input:disabled, .media-frame input[readonly], .media-frame textarea:disabled, .media-frame textarea[readonly] {
  background-color: #322e2f; }

.media-router .active, .media-router > a.active:last-child {
  border-color: #5a5354;
  border-bottom-color: #3f3a3b;
  background: #3f3a3b; }

.embed-url {
  background: #3f3a3b; }

/* Themes */
.theme-overlay .theme-header .close:hover,
.theme-overlay .theme-header .right:hover,
.theme-overlay .theme-header .left:hover {
  background: #de1e7e; }

.wrap .theme-browser .theme {
  border-color: #5a5354; }
  .wrap .theme-browser .theme .theme-name {
    background: #3f3a3b; }
  .wrap .theme-browser .theme .theme-actions {
    background: #5a5354; }
  .wrap .theme-browser .theme .theme-installed {
    background: #a8175f; }
  .wrap .theme-browser .theme.add-new-theme:hover:after {
    background: #de1e7e; }
  .wrap .theme-browser .theme.add-new-theme:hover span:after {
    color: #de1e7e; }
  .wrap .theme-browser .theme.add-new-theme a:focus:after, .wrap .theme-browser .theme.add-new-theme a:hover:after {
    background: #a8175f; }
  .wrap .theme-browser .theme.add-new-theme a:focus span:after, .wrap .theme-browser .theme.add-new-theme a:hover span:after {
    color: #d51d79; }

.theme-browser .theme.active .theme-name {
  background: #de1e7e; }

.theme-overlay .theme-wrap {
  color: #f4f2f3;
  background: #3f3a3b; }
.theme-overlay .theme-name, .theme-overlay .theme-description {
  color: #f4f2f3; }
.theme-overlay .theme-version, .theme-overlay .theme-author {
  color: #c5bbc0; }
.theme-overlay .theme-actions {
  background: #5a5354;
  border-color: #5a5354; }
.theme-overlay .screenshot {
  border-color: #5a5354; }
.theme-overlay .current-label {
  background: #5a5354; }

.color-option.selected, .color-option:hover {
  background: #4d4648; }

.card, .welcome-panel, #activity-widget #the-comment-list .comment-item {
  background: #3f3a3b;
  border-color: #5a5354; }

.welcome-panel .welcome-icon:before {
  color: #c5bbc0; }

#activity-widget #the-comment-list .unapproved:before {
  background: #e64998; }

.upload-plugin .wp-upload-form, .upload-theme .wp-upload-form {
  background: #3f3a3b;
  border: #5a5354; }

.importer-title {
  color: #f4f2f3; }

/* Plugins */
body.about-php #TB_closeWindowButton:focus,
body.about-php #TB_closeWindowButton:focus .tb-close-icon,
body.about-php .tb-close-icon:focus,
body.about-php .tb-close-icon:hover,
body.import-php #TB_closeWindowButton:focus,
body.import-php #TB_closeWindowButton:focus .tb-close-icon,
body.import-php .tb-close-icon:focus,
body.import-php .tb-close-icon:hover,
body.index-php #TB_closeWindowButton:focus,
body.index-php #TB_closeWindowButton:focus .tb-close-icon,
body.index-php .tb-close-icon:focus,
body.index-php .tb-close-icon:hover,
body.plugin-install-php #TB_closeWindowButton:focus,
body.plugin-install-php #TB_closeWindowButton:focus .tb-close-icon,
body.plugin-install-php .tb-close-icon:focus,
body.plugin-install-php .tb-close-icon:hover,
body.plugins-php #TB_closeWindowButton:focus,
body.plugins-php #TB_closeWindowButton:focus .tb-close-icon,
body.plugins-php .tb-close-icon:focus,
body.plugins-php .tb-close-icon:hover,
body.update-core-php #TB_closeWindowButton:focus,
body.update-core-php #TB_closeWindowButton:focus .tb-close-icon,
body.update-core-php .tb-close-icon:focus,
body.update-core-php .tb-close-icon:hover {
  color: #ec76b1; }

.plugins tr, .plugins th, .plugins td {
  background-color: #3f3a3b;
  border-color: #5a5354; }
.plugins .active td, .plugins .active th {
  background-color: #3f3a3b;
  border-bottom: 1px solid #5a5354; }
.plugins thead {
  background-color: #3d3839; }

.plugin-card {
  background: #3f3a3b;
  border-color: #5a5354; }
  .plugin-card .column-compatibility span:before {
    color: #f4f2f3; }

.plugin-card-bottom {
  background: #3a3536;
  border-color: #5a5354;
  color: #f4f2f3; }

.plugin-update-tr.active td, .plugins .active th.check-column {
  border-left-color: #e64998; }

/* jQuery UI Slider */
.wp-slider .ui-slider-handle,
.wp-slider .ui-slider-handle.ui-state-hover,
.wp-slider .ui-slider-handle.focus {
  background: #d51d79;
  border-color: #a8175f;
  -webkit-box-shadow: inset 0 1px 0 #e8569f, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #e8569f, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #d4ccd4; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #3f3a3b; }

.star-rating .star {
  color: #de1e7e; }

/* Menus */
.manage-menus {
  background: #3f3a3b;
  border-color: #5a5354;
  color: #f4f2f3; }

.nav-menus-php #post-body {
  background: #3f3a3b;
  border-color: #5a5354; }
.nav-menus-php .major-publishing-actions {
  color: #f4f2f3; }

.howto {
  color: #c5bbc0; }

#nav-menu-header, #nav-menu-footer {
  background: #3d3839;
  border-color: #5a5354; }

.menu-item-bar .menu-item-handle {
  border-color: #5a5354;
  color: #f4f2f3; }
  .menu-item-bar .menu-item-handle:hover {
    border-color: #ec76b1; }

.item-type {
  color: #c5bbc0; }

.menu-settings {
  border-color: #5a5354; }

.accordion-section {
  border-color: #5a5354;
  background: #3f3a3b; }

.accordion-section-content {
  background: #3f3a3b; }

.control-section .accordion-section-title {
  background: #3f3a3b; }

.control-section.open .accordion-section-title {
  border-color: #5a5354; }

.js .control-section .accordion-section-title:focus, .js .control-section .accordion-section-title:hover, .js .control-section.open .accordion-section-title, .js .control-section:hover .accordion-section-title {
  background: #3d3839;
  color: #f4f2f3; }

.nav-tab {
  background-color: #3f3a3b;
  border-color: #5a5354;
  color: #f4f2f3; }
  .nav-tab:focus, .nav-tab:hover {
    background-color: #322e2f;
    color: #ec76b1; }

.nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
  background-color: #322e2f;
  border-color: #5a5354;
  border-bottom-color: #322e2f;
  color: #f4f2f3; }

.wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper, h3.nav-tab-wrapper {
  border-color: #5a5354; }

/* Support for ACF and other plugins */
.acf-input .acf-button.blue, .acf-input .acf-button.blue.add-field {
  background: #d51d79;
  border-color: #a8175f;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #e8569f, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #e8569f, 0 1px 0 rgba(0, 0, 0, 0.15);
  text-shadow: 0 -2px 2px #921453, 2px 0 2px #921453, 0 2px 2px #921453, -2px 0 2px #921453; }
  .acf-input .acf-button.blue:hover, .acf-input .acf-button.blue:focus, .acf-input .acf-button.blue.add-field:hover, .acf-input .acf-button.blue.add-field:focus {
    background: #b11865;
    border-color: #921453;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 #e54092, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 #e54092, 0 1px 0 rgba(0, 0, 0, 0.15); }
  .acf-input .acf-button.blue:active, .acf-input .acf-button.blue.add-field:active {
    background: #b11865;
    border-color: #921453;
    color: white;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
  .acf-input .acf-button.blue[disabled], .acf-input .acf-button.blue:disabled, .acf-input .acf-button.blue.button-primary-disabled, .acf-input .acf-button.blue.add-field[disabled], .acf-input .acf-button.blue.add-field:disabled, .acf-input .acf-button.blue.add-field.button-primary-disabled {
    color: #d1c7cc !important;
    background: #b11865 !important;
    border-color: #921453 !important;
    text-shadow: none !important; }

.acf-settings-wrap .acf-box {
  background: #3f3a3b;
  border-color: #5a5354; }
  .acf-settings-wrap .acf-box .title {
    background: #3f3a3b;
    border-color: #5a5354; }

#acf-field-group-options .acf-fields > .acf-field, #acf-field-group-locations .acf-fields > .acf-field {
  border-color: #5a5354; }
#acf-field-group-options .acf-fields.-left > .acf-field:before, #acf-field-group-locations .acf-fields.-left > .acf-field:before {
  background: #3f3a3b;
  border-color: #5a5354; }

.acf-icon:before {
  color: white; }

table.acf-table {
  background-color: #3f3a3b !important;
  border-color: #5a5354 !important; }

.acf-repeater > table, .acf-table > thead > tr > th, .acf-table > tbody > tr > td {
  background-color: #3f3a3b !important;
  border-color: #5a5354 !important;
  color: #f4f2f3; }

.acf-row-handle.order {
  background-color: #3a3536 !important;
  color: #f4f2f3 !important; }

.acf-field[data-width] + .acf-field[data-width], .acf-fields > .acf-field {
  border-color: #5a5354 !important; }

#modern-tribe-info {
  background-color: #3f3a3b;
  border: #5a5354; }
