/* 01. SETTINGS */
/* 02. TOOLS */
/* 03. GENERIC */
/* 04. ELEMENTS */
p {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.625em; }

/* Links */
a {
  color: #de1e7e;
  cursor: pointer;
  text-decoration: none;
  transition: color .3s; }
  a:hover {
    border: 0;
    color: #ec76b1;
    outline: 0;
    text-decoration: none; }
  a:focus, a:active {
    border: 0;
    color: #e95fa4;
    outline: 0; }
  a img {
    border: 0;
    outline: 0; }
  a.button:hover {
    color: #fff; }

/* Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  padding: 0;
  text-shadow: none; }
  h1 *, .h1 *,
  h2 *, .h2 *,
  h3 *, .h3 *,
  h4 *, .h4 *,
  h5 *, .h5 *,
  h6 *, .h6 * {
    line-height: 1.1; }

h1,
.h1 {
  color: #322e2f;
  font-family: sans-serif;
  font-size: 32.4px;
  font-size: 2.025rem;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }
  h1 a,
  .h1 a {
    font-weight: 200; }

h2,
.h2 {
  color: #635d61;
  font-family: sans-serif;
  font-size: 25.2px;
  font-size: 1.575rem;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }
  h2 a,
  .h2 a {
    font-weight: 200; }

h3,
.h3 {
  color: #635d61;
  font-family: sans-serif;
  font-size: 20.16px;
  font-size: 1.26rem;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }
  h3 a,
  .h3 a {
    font-weight: 300; }

h4,
.h4 {
  color: #948b90;
  font-family: sans-serif;
  font-size: 15.84px;
  font-size: 0.99rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }
  h4 a,
  .h4 a {
    font-weight: 500; }

h5,
.h5 {
  color: #afa8af;
  font-family: sans-serif;
  font-size: 15.84px;
  font-size: 0.99rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }
  h5 a,
  .h5 a {
    font-weight: 500; }

h6,
.h6 {
  color: #afa8af;
  font-family: sans-serif;
  font-size: 12.6px;
  font-size: 0.7875rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem;
  text-transform: uppercase; }
  h6 a,
  .h6 a {
    font-weight: 500; }

/* Lists */
ol,
ul,
dl {
  line-height: 1.1em;
  margin-bottom: 1.625em; }

p,
address {
  margin-bottom: 0.8125em; }

small {
  font-size: .875em; }

ul,
ol {
  font-family: sans-serif;
  font-size: 100%;
  letter-spacing: 0px;
  margin-left: 1em;
  padding: 0 0 0 1em; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

li {
  font-weight: 300;
  line-height: 1.3em;
  margin: .3em 0; }
  li h1, li h2, li h3, li h4, li h5, li h6 {
    margin-bottom: .2em; }
  li span {
    vertical-align: text-top; }

blockquote {
  border-left: 0 solid #d4ccd4;
  color: #948b90;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 200;
  line-height: 1.3em;
  padding-left: 0;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 14px;
  margin-bottom: 0.875rem; }
  blockquote * {
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 200; }

q {
  font-style: italic;
  font-weight: inherit; }

cite {
  font-weight: inherit; }

dl,
dd {
  margin-bottom: 0.8125em; }

dt {
  font-weight: bold;
  margin-bottom: 0.40625em; }

b,
strong {
  font-weight: bold; }
  b a,
  strong a {
    font-weight: bold; }

i,
dfn,
em {
  font-style: italic;
  font-weight: inherit; }
  i a,
  dfn a,
  em a {
    font-style: italic; }

u {
  text-decoration: underline; }

ins {
  background-color: #f4f2f3;
  color: #e22025;
  text-decoration: none; }

mark {
  background-color: #f4f2f3;
  color: #e22025;
  font-style: italic;
  font-weight: bold; }

del, strike {
  font-weight: inherit; }

pre,
code,
kbd,
samp,
var,
tt {
  background-color: #f4f2f3;
  border: 0;
  color: #464144;
  font-family: monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.625em;
  margin: 1em 0;
  padding: 0.5em; }

code, kbd, var, tt {
  display: inline-block; }

pre, samp {
  display: block; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: middle; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

hr {
  background-color: #d4ccd4;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

abbr, acronym {
  font-weight: inherit; }

address {
  font-weight: inherit;
  line-height: inherit; }

span {
  display: inline-block; }

nav ul {
  line-height: 1;
  list-style: none; }

/* SELECTION */
::-moz-selection {
  background-color: #d4ccd4;
  color: #f4f2f3;
  text-shadow: none; }

::selection {
  background-color: #d4ccd4;
  color: #f4f2f3;
  text-shadow: none; }

@media only screen and (min-width: 48.5em) {
  h1,
  .h1 {
    font-size: 36px;
    font-size: 2.25rem; }

  h2,
  .h2 {
    font-size: 28px;
    font-size: 1.75rem; }

  h3,
  .h3 {
    font-size: 22.4px;
    font-size: 1.4rem; }

  h4,
  .h4 {
    font-size: 17.6px;
    font-size: 1.1rem; }

  h5,
  .h5 {
    font-size: 17.6px;
    font-size: 1.1rem; }

  h6,
  .h6 {
    font-size: 14px;
    font-size: 0.875rem; }

  nav li {
    line-height: 1; } }
/* FORMS */
label {
  color: #464144;
  font-family: sans-serif;
  font-size: 1.125em;
  font-weight: 300; }

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="password"],
input[type="tel"],
select,
textarea,
.textbox {
  background-color: #fff;
  border: 1px solid #afa8af;
  color: #464144;
  display: block;
  font-family: sans-serif;
  font-size: .875em;
  font-weight: 300;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  max-width: 100%;
  padding: 0.5em;
  width: 100%; }
  input[type="text"]:active, input[type="text"]:focus,
  input[type="date"]:active,
  input[type="date"]:focus,
  input[type="time"]:active,
  input[type="time"]:focus,
  input[type="datetime"]:active,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:active,
  input[type="datetime-local"]:focus,
  input[type="url"]:active,
  input[type="url"]:focus,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="number"]:active,
  input[type="number"]:focus,
  input[type="search"]:active,
  input[type="search"]:focus,
  input[type="file"]:active,
  input[type="file"]:focus,
  input[type="password"]:active,
  input[type="password"]:focus,
  input[type="tel"]:active,
  input[type="tel"]:focus,
  select:active,
  select:focus,
  textarea:active,
  textarea:focus,
  .textbox:active,
  .textbox:focus {
    outline-color: #de1e7e; }

input[type="checkbox"],
input[type="radio"] {
  margin: 3px 0;
  padding: 0;
  *width: 1em;
  *height: 1em; }

button,
.button,
.global-button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: #fff;
  cursor: pointer;
  background-color: #de1e7e;
  border: 0;
  border-bottom: 1px solid #9b1558;
  border-radius: 0;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
  height: auto;
  padding: 0.5em 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: auto; }
  button:hover,
  .button:hover,
  .global-button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #b1185f;
    border-bottom: 1px solid #e33284;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  button.alt,
  .button.alt,
  .global-button.alt,
  input[type="button"].alt,
  input[type="submit"].alt,
  input[type="reset"].alt {
    background-color: #10aded;
    border-color: #0b79a5; }
    button.alt:hover, button.alt:focus,
    .button.alt:hover,
    .button.alt:focus,
    .global-button.alt:hover,
    .global-button.alt:focus,
    input[type="button"].alt:hover,
    input[type="button"].alt:focus,
    input[type="submit"].alt:hover,
    input[type="submit"].alt:focus,
    input[type="reset"].alt:hover,
    input[type="reset"].alt:focus {
      background-color: #0d8abd;
      border-color: #26b6f0; }
  button.neutral,
  .button.neutral,
  .global-button.neutral,
  input[type="button"].neutral,
  input[type="submit"].neutral,
  input[type="reset"].neutral {
    background-color: #948b90; }
    button.neutral:hover, button.neutral:focus,
    .button.neutral:hover,
    .button.neutral:focus,
    .global-button.neutral:hover,
    .global-button.neutral:focus,
    input[type="button"].neutral:hover,
    input[type="button"].neutral:focus,
    input[type="submit"].neutral:hover,
    input[type="submit"].neutral:focus,
    input[type="reset"].neutral:hover,
    input[type="reset"].neutral:focus {
      background-color: #635d61; }
  button:active, button:focus,
  .button:active,
  .button:focus,
  .global-button:active,
  .global-button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus {
    outline-color: #de1e7e; }

input[type="hidden"] {
  display: none; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

::-webkit-input-placeholder {
  color: #d4ccd4;
  font-size: 0.875em;
  font-style: normal; }

:-moz-placeholder {
  color: #d4ccd4;
  font-size: 0.875em;
  font-style: normal; }

:-ms-input-placeholder {
  color: #d4ccd4;
  font-size: 0.875em;
  font-style: normal; }

/* TABLES */
table {
  background-color: transparent;
  border-spacing: 0;
  height: 100%;
  margin-bottom: 0.8125em;
  width: 100%; }

th,
td {
  font-size: .875em;
  line-height: 1.625em;
  padding: 0.25em;
  text-align: left;
  vertical-align: middle; }

th {
  font-weight: bold; }

td {
  border-top: 1px solid #d4ccd4; }

thead th {
  vertical-align: bottom; }

thead:first-child tr:first-child th,
thead:first-child tr-first-child td {
  border-top: 0; }

tbody tr td,
tbody tr th {
  -webkit-transition: background-color 0.25s 0 ease;
  -moz-transition: background-color 0.25s 0 ease;
  -ms-transition: background-color 0.25s 0 ease;
  -o-transition: background-color 0.25s 0 ease;
  transition: background-color 0.25s 0 ease; }

tbody tr:hover td,
tbody tr:hover th {
  background-color: transparent; }

img {
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  vertical-align: middle; }

figure {
  margin-bottom: 1.625em; }

figcaption {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: normal;
  margin: .5em 0 0 0;
  padding: 0; }

/* 05. OBJECTS */
#tinymce h1, #tinymce h2, #tinymce h3, #tinymce h4, #tinymce h5, #tinymce h6, #tinymce .h1, #tinymce .h2, #tinymce .h3, #tinymce .h4, #tinymce .h5, #tinymce .h6 {
  margin-bottom: 0.8rem;
  margin-top: 1.5rem; }
#tinymce dd, #tinymce blockquote {
  margin-left: 0; }
