nav {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// General Menu Items
.menu-item {
    padding: 0;
    margin-bottom: 0;
    @include transition(all .3s);

    &:last-child {
        border-bottom: 0;
    }

    a,
    a:visited {
        color: $linkColor;
        display: block;
        padding: .5em 0;
        @include transition(all .3s);

        &:hover, &:focus {
            color: $linkHover;
            @include transition(all .3s);
        }
    }


}

// Quicklinks Menu
.nav-quicklinks {
    width: 100%;
    position: relative;
    z-index: 999;

    & > div { // menu container
      display: inline-block;
    }

    .menu-item {

        a, a:visited {
            color: $Nlightest;
            font-weight: 200;
            padding: 0 .5em;

            &:hover {
                color: $Nwhite;
            }
        }

        &.current-menu-item > a, &.current-menu-parent > a {
            color: $Nwhite;
        }
    }

    li:first-child {
        a {
            padding-left: 0;
        }
    }

    .sub-menu, .menu-toggle {
        display: none;
    }
}
    .quicklinks-menu {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
        }
    }

// Main Nav
.nav-main {
	position: absolute;
    right: 100%;
    top: 0;
    @include transition(all .8s);
    width: 80%;

    ul {
        list-style: none;
    }

    a {
        @include rem-px('font-size', 1rem);
    }
}

    .nav-main--menu {
        margin: 0;
        padding: 1em;
    }


// Footer Menu
.footer--menu {
    margin: 1em 0 0 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1em;
    }

     a, a:visited {
       color: $interactColor;
      padding: 0;

      &:hover, &:focus {
        color: $interactColor_Lt;
      }
    }

    .sub-menu, .menu-toggle {
        display: none;
    }
}


@media only screen and (max-width: #{$midBreakpoint}) {
    .nav-main {
        background-color: $linkColor;
        position: absolute;
        right: 100%;
        top: 0;
        width: $sidebarWidthMid;

        .menu-item {
          a,
          a:visited {
              color: $Nwhite;

              &:hover, &:focus {
                  color: $Nwhite;
              }
          }
        }
    }
}

@media only screen and (max-width: #{$smallBreakpoint}) {
    .nav-main {
        width: $sidebarWidthSmall;
    }
}


@media only screen and (min-width: #{$midBreakpoint}) {
    // quicklinks menu
    .nav-quicklinks > div { // menu container
        padding: 0;
    }

    .menu-item {
      &.current-menu-item > a, &.current-menu-parent > a, &.current-menu-ancestor > a {
        text-decoration: underline;
      }
    }

    // main menu
    .nav-main {
        float: right;
        height: auto;
        left: auto;
        padding: 0;
        position: relative;
        right: auto;
        text-transform: uppercase;
        top: auto;
        width: auto;

        & > div { // menu container
          height:100%;
        }
    }
        .nav-main--menu {
            height:100%;
            padding: 0;
            text-align: right;

            .menu-item {
                display: inline-block;
                height: 100%;

                & > a {
                    height: 100%;
                    display: inline-block;
                    padding: .5em;
                }

                .menu-item {
                  &.current-menu-item > a, &.current-menu-parent > a, &.current-menu-ancestor > a {
                    background-color: #{'rgba('+$Ndarkest_RGB+', .2)'};
                      color: $Nwhite;
                  }
                }

                &:hover, &:focus {
                    & > a {

                    }
                }
            }
        }

    // footer menu
    .footer--menu {
        margin-top: 0;

        .menu-item:first-child {
            a {
                padding-left: 0;
            }
        }
    }
}

@media only screen and (min-width: #{$widescreenBreakpoint}) {

}
