.search-form {
    position: relative;
    width: 100%;

    label {
        display: none;
    }
}

    .textbox.search--textbox {
        border: 0;
        margin: 0;
        padding: .5em 2.25em .5em .25em;  
    }

    .search--button {
        background: $linkColor;
        bottom: 0;
        color: $white;
        font-size: .7em;
        font-weight: bold;
        //@include hide-text();
        padding: .5em;
        position: absolute;
        right: 0;
        top: 0;

        &:hover {
            color: $white;
        }
    }

.sidebar {
    .search-form { 
        max-width: inherit;
        margin: 0;
        width: 100%;
    }
}

.search-toggle {
    background-color: $linkColor;
    border: none;
    color: $white;
    float: right;
    padding: .5em;
    @include transition(padding .8s);

    &:hover {
        background-color: darken($linkColor, 10%);
        border: none;
    }
}

.header-main .search-form {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    @include transition(all .8s);
}

    .header-main .search-form.search-expanded {
        margin: .4em 0 0;
        max-height: 3em;
        padding-bottom: .4em;
        @include transition(all .8s);

        .search--button {
            margin-bottom: .4em;
        }
    }


@media only screen and (min-width: #{$midBreakpoint}) {

    .search-toggle {
        display: none !important;
    }

    .header-main .search-form {
        clear: both;
        float: right;
        max-height: 3em;
        @include transition(all .8s);
        width: 20em;
    }
}