.woocommerce {
    .content, .content & {
        @include clearfix();

        .button, a.button, button, input.button {

            @extend .global-button;

            &.alt {
                @extend .alt;
            }

            &:disabled, &:disabled[disabled] {
                color: $white;
            }
        }
    }

    

    .added {
        &:after {
            position: absolute;
        }
    }

    div.product {
        div.images {
            img {
                max-height: 40em;
                width: auto;
            }

            .flex-control-thumbs li {
                padding: .5em .5em .5em 0;
            }
        }
    }

    .price {
        color: $springColor3;

        del { // old pre-sale price
            & > span {
                text-decoration: line-through;
                color: $Nmid;
            }
        }

        ins { // new sale price
            background-color: transparent;
            color: $springColor3;
            font-weight: bold;
        }
    }

    span.onsale {
        background-color: $springColor3;
        padding: 0;
    }

    .woocommerce-breadcrumb {
        margin: 0;

        a {
            color:$linkColor;

            &:hover, &:focus {
                color: $linkHover;
            }
        }
    }

    nav.woocommerce-pagination  {
        ul li {
            a:focus, a:hover, span.current {
                background: $linkColor;
                color: $white;
            }
        }
    }

    .widget_price_filter {
        .ui-slider {
            &.ui-widget-content {
                background-color: $springColor1_Dk;
            } 
            .ui-slider-handle, .ui-slider-range {
                background-color: $springColor1;
            }
        }
    }

    .widget_shopping_cart_content {
        .button:not(.checkout) {
            background-color: $springColor3;
        }
    }
}

// Make products display flex by default, with fallback to their floats.
.woocommerce, .woocommerce-page {
    ul.products {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;

        li.product {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                //justify-content: center;

                &.added_to_cart.wc-forward {
                    @extend .global-button;
                    background-color: $springColor3;
                    flex-grow: 0;
                    margin-top: .5em;
                    text-align: center;
                }

                h2 {
                    @include transition(all .2s);
                    
                    &:hover, &:focus {
                        color: $linkColor;
                        @include transition(all .2s);
                    }       
                } 
            }

            .button {
                flex-grow: 0;
                text-align: center;
            }

            .price {
                color: $textColor;

                del {
                    display: inline-block;
                    margin-right: .5em;
                }
            }
        }
    }
}

// With Sidebar, fewer products per row
// Don't forget to update custom function in woo.php
.woocommerce, .woocommerce-page {
    & .has_sidebar {
        ul.products {
            li.product {
                width:30.8%;
            }
        }
    }
    .cart-collaterals .cross-sells {
        ul.products {
            li.product {
                width: 48%;
            }
        }
    }
}

// WooCommerce Tabbed Account Page

.woocommerce-MyAccount-navigation {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        border-bottom: 1px solid $Nlighter;

        &.is-active a {
            font-weight: bold;
            &:after {
                content: ' »';
            }
        }
    }
}
    li.woocommerce-MyAccount-navigation-link--customer-logout {
        display: block;
        border-bottom: 0;

        a {
            margin-top: 1em;
            @extend .button;
        }
    }

// fix for weird WooCommerce margin/spacing issues
@media only screen and (max-width:768px) {
    .woocommerce, .woocommerce-page {
        ul.products, ul.products[class*=columns-] {
            li.product {
                margin-right: 4%;
                width: 46%;
            }
        }
    }
    .woocommerce, .woocommerce-page {
        & .has_sidebar {
            ul.products, ul.products[class*=columns-] {
                li.product {
                    width: 46%;
                }
            }
        }
    }
}