.post, .archive {
    @include clearfix();
    //margin-bottom: 5em;
}

    .post--title {
        @include rem-px('margin-bottom', .75rem);

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .post--thumbnail {
        width: 100%;
    }

    .post--byline {
        font-style: italic;
        @include rem-px('margin', 0, 0, 1.5rem, 0);

        a {
            font-style: italic;
        }
    }

    .post--summary {
        @include clearfix();
    }

    .post--content { 
        overflow: visible;

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            margin-top: $textFontSize * 1.5;
            margin-bottom: $textFontSize * .8;
        }
    }

    .post--metadata {
        border-top: 1px solid $Nlighter;
        @include rem-px('font-size', .875rem);
        font-style: italic;
        @include rem-px('margin-top', 1rem);
        @include rem-px('padding-top', .25rem);

        ul {
            display: inline-block;
            @include rem-px('margin', 0, 1rem, 0, 0);
            padding: 0;

            li {
                display: inline-block;
                list-style: none;
                margin: 0;
                @include rem-px('padding', 0, .1rem, 0, 0);
            }
        }

        a {
            font-style: italic;
        }
    }

    .post--metadata--title {
        font-weight: bold;
        margin-right: .25em;
    }

    .post--hr {
        width: 50%;
        margin: 3em auto;
    }

.archive {
    .post--title {
        @include rem-px('font-size', $h1Size * .85);
    }
}

.single {

    .post--metadata {
        @include rem-px('margin-bottom', .3rem);
        @include rem-px('margin-top', .25rem);
    }

    .post--summary {
        @include rem-px('font-size', 1.3rem);

        p {
            color: $Nlight;
            line-height: 1.3;
        }
    }
} 

.page--header {
    @include rem-px('margin-bottom', $headingMargin * 2);
} 

.page--title {
    @include rem-px('margin-bottom', $headingMargin * 1.5);
}
