.open-button-wrapper {
        position: relative;
        width: 100%;
    }

        .open-button {
            @include drop-shadow($x-axis: 0, $y-axis: 0px, $blur: 0, $alpha: 0);
            background: none;
            position: absolute;
            top: 0;
            width: 2.5em;
            height: 2.8em;
            padding: .4em;
            border: 0;
            @include rounded(0);
            overflow: hidden;
            font-size: 1em;

            &:active,
            &:focus {
                outline: 0;
            }

            span {
                position: absolute;
                display: inline-block;
                left: 100%;
            }
        }

        .open-main-menu {
            left: 0;

            &:before {
                color: $linkColor;
                content: '\2630';
                display: block;
                font-size: 1.5em;
                width: 100%;
            }

            &:hover:before {
                color: $buttonColor;
            }

            &:after {
                color: $linkColor;
                content: 'MENU';
                display: block;
                font-size: .15em;
                font-weight: 600;
                letter-spacing: .5px;
                width: 100%;
            }

            &:hover:after {
                color: $buttonColor;
            }

        }

        .open-sidebar {
            right: 0;


            &:before {
                content: ' ';
                display: block;
                height: 70%;
                border-left: 12px solid $linkColor;
                margin-left: 3px;
                width: 21px;
                border-right: 6px solid $linkColor;
            }

            &:hover:before {
                border-color: $buttonColor;
            }

            &:after {
                color: $linkColor;
                content: 'INFO';
                display: block;
                font-size: .15em;
                font-weight: 600;
                letter-spacing: .5px;
                margin-top:.3em;
                width: 100%;
            }

            &:hover:after {
                color: $buttonColor;
            }
        }

@media only screen and (max-width: #{$midBreakpoint}) {
    .open-the-menu {
        overflow: hidden;

        body {
            overflow: hidden;
            height: 100%;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            margin-left: 80%;
            margin-right: -80%;
        }
        .nav-main {
            //height: 100%;
            overflow-y: auto;
        }

        .admin-bar .nav-main {
            padding-bottom: 4em;
        }
    }

    .open-the-sidebar {
        overflow: hidden;

        body {
            overflow: hidden;
            height: 100%;
        }

        .wrapper {
            width: 100%;
            height: 100%;
            margin-left: -80%;
            margin-right: 80%;
        }
    }

}

@media only screen and (min-width: #{$midBreakpoint}) {
    .open-button-wrapper {
        display: none;
    }

    .open-the-menu {
        .wrapper {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .open-the-sidebar {
        .wrapper {
            margin-left: 0;
            margin-right: 0;
        }
    }

    #closeSidebar {
        display:none;
    }
}

