section.search-form {
    position: relative;
    width: 100%;

    label {
      display: block;
      height: 0;
      overflow: hidden;
    }

    input {
      display: inline-block;
      width: calc(100% - 90px);
    }

    .textbox.search--textbox {
        border-color: $Nlight;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin: 0;
        padding: .4em;
    }

    button.search--button.button {
        background: $buttonAltBackground;
        border: 1px solid $buttonAltBackground;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        bottom: 0;
        color: $Nwhite;
        display: inline-block;
        font-weight: $baseWeightBold;
        margin-left: -6px;
        padding: .5em .2em;
        width: 90px;

        &:hover {
            background: $buttonAltBackground2;
            border-color: $buttonAltBackground2;
            color: $Nwhite;
        }
    }
}



.sidebar {
    .search-form {
        max-width: inherit;
        margin: 0;
        width: 100%;
    }
}

.search-toggle {
    background-color: $buttonBackground;
    border: none;
    color: $Nwhite;
    float: right;
    padding: .5em;
    min-width: 32px;
    min-height: 32px;
    @include transition(padding .8s);

    &:hover {
        background-color: $buttonBackground2;
        border: none;
    }

    &:before {
      font: normal 20px/1 "Font Awesome 5 Pro", "Font Awesome", dashicons;
      content:"\f179"; // fallback
    }
}

.header-main .search-form {
    margin: 0;
    max-width: 0;
    float: right;
    width: 18em;
    overflow: hidden; // to account for the toggle
    padding-bottom: 0;
    @include transition(all .8s);

    form {
      width: 14em;
    }
}

    .header-main .search-form.search-expanded {
        max-width: 15em;
        padding: 0 0.4em;
        @include transition(all .8s);
    }

    .fa-search.search-open:before {
        content:'\f00d'
    }


@media only screen and (min-width: #{$midBreakpoint}) {

    .search-toggle {
        // display: none !important; // if you want the search bar visible with no toggle
    }

    .header-main section.search-form {
        width: 21em;
        // overflow: visible; // if you want the search bar visible with no toggle

        form {
          width: 20em;
        }

        &.search-expanded {
          max-width: 21em;
        }

        button.search--button.button {
          padding: .5em;
        }
    }
}
