.nav-pager {
    @include clearfix();
}

    .pager {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .pager--previous {
            float: left;
        }

        .pager--next {
            float: right;
        }

 .post--pager {
     margin-top: 2em;
 }