.content {
	.social-icons {
		float: none;
	}
}

article.archive {
	margin-bottom: 1em;
}

	p, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, address {
		.post--content > &, .wp-block-group & {
			max-width: $contentMax;
		}
	}

.has_no_sidebar .page--header {
	margin-top: 2em;
}
