/* Events Plugin Color + Style Rules */
.acfes-schedule {

  .acfes-session-type-session {
    background-color: #{'rgba('+$Nmid_RGB+', .2)'};
  }

  .acfes-global-session-mainstage, .acfes-session-type-mainstage {
    background-color: #{'rgba('+$springColor1_RGB+', .2)'} !important;
  }

  .acfes-global-session-custom, .acfes-session-type-custom {
    background-color: #{'rgba('+$Nmid_RGB+', .3)'} !important;
  }

  a {
    color: $textColor;
  }
}

// Table Colors
.acfes-layout-table {
  border: $Nmid solid 1px;

  tr {
    background-color: $Nwhite;
  }

  td {
    border: $Nmid solid 0;
  }

  thead th {
    background-color: #{'rgba('+$Nmid_RGB+', .3)'};
    border: $Nmid solid 1px;
    color: $textColor;
  }

  [class*="acfes-session-type-"] {
    border-width: 1px;
    border-bottom-width: 0;
  }

  .acfes-session-type-session {
    background-color: transparent;
  }

  .acfes-col-time, .acfes-col-track { // header
    background-color: #{'rgba('+$Nmid_RGB+', .2)'};
  }

  .acfes-time {
    background-color: transparent;
    border-width:1px;
  }

  .acfes-session-empty {
    background-color: transparent;
    border-right-width: 1px;
  }

  // Table Metadata on Mobile
  @media screen and (max-width: $med-bp) {
    .acfes-session-type-session {
      &:before {
        color: $Ndark;
      }
    }
  }
}

// Grid Colors
.acfes-layout-grid {
  .acfes-global-session {
    background-color: #{'rgba('+$Nmid_RGB+', .2)'};
  }
}

/* Dark Rules */
.acfes-schedule.acfes-color-scheme-dark {
  color: $Nwhite;

  a {
    color: $Nwhite;
  }

  tr {

  }

  .acfes-session-title {
    color: $Nwhite;
  }

  .acfes-session-type-session {
    background-color: $textColor;
  }

  .acfes-global-session-mainstage, .acfes-session-type-mainstage {
    background-color: $springColor1_Dk !important;
  }

  .acfes-global-session-custom, .acfes-session-type-custom {
    background-color: $Ndark !important;
  }

  ::-moz-selection {
    color: $Nwhite;
  }

  ::selection {
      color: $Nwhite;
  }

  // Table Dark Colors
  &.acfes-layout-table {
    border-color: $Nwhite;

    tr {
      background-color: $textColor;
    }

    td {
      border-color: $Nwhite;
    }

    thead th {
      background-color: $Ndark;
      border-color: $Nwhite;
      color: $Nwhite;
    }

    [class*="acfes-session-type-"] {

    }

    .acfes-session-type-session {
      // background-color: transparent;
    }

    .acfes-col-time, .acfes-col-track { // header
      background-color: $textColor;
    }

    .acfes-time {
      // background-color: transparent;
    }

    .acfes-session-empty {
      // background-color: transparent;
    }

    @media screen and (max-width: $med-bp) {
      .acfes-session-type-session:before {
        color: $Nmid;
      }
    }
  }

  // Grid Dark Colors
  &.acfes-layout-grid {
    .acfes-col-track, .acfes-time {
     color: $textColor;
   }

    .acfes-session-cell-content {
      color: $Nwhite;
    }
  }
}



// Gravity Forms
.gform_wrapper {
    .field_sublabel_below .ginput_complex.ginput_container label, .field_sublabel_below div[class*=gfield_time_].ginput_container label {
        margin-bottom: 1.2em;
    }
    .gfield_required {
        color: $alertColor;
  	}

    .gform_fileupload_multifile .gform_drop_area {
      color: $textColor;
    }

    .validation_message {
      color: $alertColor;
      ul {
        margin: 0;
        padding: 0;
      }
    }

    &.gf_browser_chrome {
      .gfield_checkbox li input, .gfield_checkbox li input[type=checkbox], .gfield_radio li input[type=radio] {
        margin-top: 0;
      }
      select {
        padding: 0.5em;
      }
    }
}

// Events Calendar
.tribe-common {
  span {
    vertical-align: middle;
  }
}
.post-type-archive-tribe_events {
  .content .content--page {
    //max-width: none;
    width: 100%;

    .tribe-common-l-container.tribe-events-l-container {
      padding: 0;
    }

    .tribe-events-calendar-list__event-featured-image-wrapper {
      display: none;
    }

    .tribe-events-calendar-list__event-row {
      max-width: $contentMax;
    }
  }
}
// General
.tribe_events {
  .tribe-block {
    margin-bottom: .875em;
  }
  .tribe-block__rsvp {
    font-family: $baseFont;
  }

  .tribe-block__rsvp__icon {
    border-right-style: solid;
    display: none;
  }

  .tribe-block__rsvp__content {
    background-color: transparent;
  }

  .tribe-block__rsvp__description, .tribe-block__rsvp__title, .tribe-block__rsvp__availability {
    color: $Ndarkest;
  }

  .tribe-block__venue {
    .tribe-block__venue__meta {
      .tribe-block__venue__address a {
        color: $linkColor;

        &:hover {
          color: $linkHover;
        }
      }
    }
  }

  .tribe-common .tribe-common-c-btn.tribe-common-c-btn--small {
    @extend %button;
  }
  .tribe-block__rsvp__status-button {
    @extend %button;
    @extend %button.outline;
    border-width: 2px !important;
    width: 100%;
  }
  .tribe-block__rsvp__form {
    .tribe-block__rsvp__submit-button {
      @extend %button;
    }

    .tribe-block__rsvp__form__attendee-meta {
      height: auto;
    }

    .tribe-right label[for^=tribe-tickets-attendees-list-optout] input[type=checkbox]:checked:before {
      color:$springColor1;
    }

    .tribe-block__rsvp__number-input-button {
      border: 0 !important;
    }
  }

  .tribe-events-c-small-cta__stock {
    &:before {
      content:"(";
      display: inline-block;
    }
    &:after {
      content:")";
      display: inline-block;
    }
  }
}

// Tooltip
.tooltipster-sidetip .tooltipster-box {
  background-color: $Nwhite;
  border-color: $springColor1;
  color: $Ndarkest;
  padding: .5em;

  .tooltipster-content {
    color: $Ndarkest;

    .tribe-events-calendar-month__calendar-event-tooltip-featured-image-wrapper {
      display: none;
    }

    .tribe-events-calendar-month__calendar-event-tooltip-description {
      display: none;
    }
  }
}

// whole template target
.single-tribe_events {
  .page--header {
    display: none;
  }
  .post--content {
    margin: 0;
  }
}

// Within the content
#tribe-events, #tribe-events-pg-template {

    .tribe-events-button {
        @extend .global-button;
        @extend .global-button.neutral;
    }

    table.tribe-events-calendar {
        color: $Ndarkest;

        th {
            background-color: $Nlightest;
            border-color: $Nlight;
            color: $Ndarkest;
        }

        td {
            border-color: $Nlight;
        }

        div[id*=tribe-events-daynum-], div[id*=tribe-events-daynum-] a {
            background-color: $Nlightest;
            color: $Ndarkest;
        }
    }

    // Single within content
    .tribe-events-single {

        h1, h2 {
            margin-top: 0;
        }

        #tribe-events-header {
          .tribe-events-nav-pagination {
            display: none; // this is in the footer now
          }
        }

        h2.tribe-events-schedule__datetime {
          font-family: $baseFont;
        }

        .tribe-events-schedule {
            background: transparent;
            border: 0;
            padding: 0;

            h2 {
                display: inline-block;
                font-family: $baseFont;
                font-size: 1.2em;
                font-weight: $baseWeightBold;
            }
        }

        .tribe-events-event-meta {
            background: $Nlightest;
            border: 0;
            display: block;
            padding: .5em 1em;
        }

        .tribe-events-meta-group {
          dd, dt {
            //display: inline-block;
          }
          .tribe-events-event-cost {
            float: none;
            padding: 0;
          }
        }

        .tribe-events-venue-map {
            background: transparent;
            border: 0;
        }

        .tribe-block__events-link .tribe-block__btn--link a, .tribe-events-button {
          @extend %button;
          @extend %button.outline;

          &:hover {
            background-color: #{'rgba('+$Ndarkest_RGB+', .1)'}
          }

          img {
            filter: grayscale(100%);
          }
        }
    }

    .tribe-events-list {
        .type-tribe_events {
            border-bottom-color: $Nlightest;
        }
    }

    .tribe-events-event-meta {
        margin-bottom: $baselineHeight / 2;
    }

        .tribe-events-meta-group {
            margin-bottom: 1em;
        }

    .tribe-events-cal-links a {
        font-size: .8em;
        margin:.25em;
    }

    .tribe-event-schedule-details {
        @extend .post--byline;
    }

    .tribe-events-cost, .tribe-events-event-cost {
        background-color: $Nlightest;
        border: 0;
        display: inline-block;
        font-weight: $baseWeightBold;
        padding: .5em;

        span {
            background: transparent;
            border: 0;
            padding: 0;
        }
    }

    .tribe-events-list-separator-month {
        background-color: $Nlightest;

        span {
            background-color: $Nlightest;
            color: $Nmid;
            font-family: $subheadingFont;
            @include rem-px('font-size', $h5Size * .9);
            font-weight: $h5FontWeight;
            letter-spacing: $subheadingLetterSpace;
            line-height: $subheadingLineHeight;
            padding: 0 .5em;
        }

    }

    .tribe-bar-submit {
        margin-left: 0;
    }

    #tribe-events-footer {
      padding-top: 1em;

      ul.tribe-events-sub-nav {
        padding-left: 0;

        .tribe-events-nav-previous {
          text-align: left;
        }

        .tribe-events-nav-next {
          text-align: right;
        }
      }
    }
}

#tribe-events-day {
    h2 {
        display: block;
        margin-top: 0;
    }

    .tribe-events-content {
        float: none;
        width: 100%;
    }

    .tribe-events-event-meta {
        background: transparent;
        border: 0;
        padding: 0;
    }

    .time-details, .tribe-events-venue-details {
        padding-left: 0;
        border: 0;
    }

    .tribe-events-day-time-slot {
        h5 {
            background-color: $Nlightest;
            @extend .h5;
            padding: 6px 10px;
        }
    }
}

#tribe-bar-form {
    background: $Nlightest;

    .tribe-bar-collapse-toggle {
        background: $Nlightest;
    }

    .tribe-bar-submit input[type=submit] {
        @extend .global-button;
        @extend .global-button.neutral;
    }

    .tribe-bar-views-inner {
        background: $Nlight;
    }

    .tribe-bar-views-list .tribe-bar-views-option a, .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a {
        background: $Nlight;

        &:hover {
            background: $Nlight;
        }
    }
}

#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical {
    color: $linkColor;
}

.tribe-events-notices {
    background: $Nlight ;
    border-radius: 0;
    border: 0;
    padding: 1em;
    text-shadow: none;
    color: $Ndarkest;
}

.tribe-address {
    display: inline;
}

// V2 Tribe events
.tribe-events {
  .tribe-events-header--has-event-search {
    .tribe-events-c-events-bar {
      border: 1px solid $Nmid;

      #tribe-events-search-filters-container {
        input {
          background-image: none;
          border: none;
          padding: 13px;
        }
      }
      .tribe-events-c-view-selector__list {
        li {
          a {
            text-decoration: none;

          }
          &.tribe-events-c-view-selector__list-item--active {
            border-bottom: 2px solid $Ndark;
            font-weight: $baseWeightBold;

            a {
              color: $Ndark;
            }
          }
        }
      }
      .tribe-events-c-view-selector__button, .tribe-events-c-events-bar__search-button {
        background-color: transparent;
        border: 0;
      }
      .tribe-events-c-search__button {
        margin-top: 0;
      }
    }

  }

  .tribe-events-c-nav__list {
    .tribe-common-b2 {
      @extend %button;
      color: $linkColor;
      border: 0 !important;
      background-color: transparent !important;

      &:hover, &:focus {
        color: $linkHover;
      }
    }
  }

  .tribe-events-l-container {
    a.tribe-common-c-btn-border {
      text-decoration: none;
      @extend %button;
      @extend %button.outline;
    }
    button {
      &.tribe-events-c-top-bar__datepicker-button, &.tribe-events-c-top-bar__nav-link, &.tribe-events-c-nav__next, &.tribe-events-c-nav__prev  {
        color: inherit;
        background-color: transparent;
        border: none;
      }
    }
    .tribe-events-c-top-bar__datepicker-button {
      &:after {
        content:'↓';
        margin-left: 5px;
      }
    }
  }

  .tribe-events-c-ical__link {
      text-decoration: none;
      @extend %button;
      @extend %button.outline;
  }

  // Month
  .tribe-events-calendar-month{
    .tribe-events-calendar-month__day-date-daynum {
      font-size: 20px;
    }
    .tribe-events-calendar-month__multiday-event-bar {
      background-color: $linkColor;
      color: $Nwhite;
      padding: 2px 8px;
    }
    .tribe-events-calendar-month__calendar-event-title, .tribe-events-calendar-month__multiday-event-bar-title {
      font-size: 1em;
    }
    .tribe-events-calendar-month__calendar-event-datetime {
      font-size: .875em;
      line-height: 1.2;
      margin-bottom: .5em;
    }
  }

  .tribe-events-calendar-month-mobile-events {
    .tribe-events-calendar-month-mobile-events__day-marker {
      @extend .h5;
    }
    .tribe-events-calendar-month-mobile-events__mobile-event-datetime {
      font-weight: $baseWeightBold;
    }
  }

  button.tribe-events-calendar-month__day-cell--mobile {
    background-color: transparent;
    color: $Ndarkest;
    border-width: 1px;
  }

  button.tribe-events-calendar-month__day-cell--selected {
    background-color: #{'rgba('+$springColor1_RGB+', .1)'}
  }

  // List
  .tribe-events-calendar-list {
    .tribe-events-calendar-list__month-separator {
      @extend .h3;
    }
    .tribe-events-calendar-list__event-date-tag {
      padding-right: 0 !important;
      margin-right: .5em;
      text-align: center;
      width: 3em;
    }
    .tribe-events-calendar-list__event-date-tag-datetime {
      @extend .h5;
      margin: 0 !important;
      text-align: left;
    }
    .tribe-events-calendar-list__event-date-tag-daynum, .tribe-events-calendar-list__event-date-tag-weekday {
      background-color: $Nlightest;
      padding: .25em;
      text-align: center;
    }
    .tribe-events-calendar-list__event-date-tag-daynum {
      font-weight: $baseWeightBold;
      font-size: 1.5em;
    }
    .tribe-events-calendar-list__event-datetime-wrapper {
      font-weight: $baseWeightBold;
      margin-bottom: .5em;
      margin-top: -.25em;
    }
    .tribe-events-calendar-list__event-cost {
      font-weight: $baseWeightBold;
    }
    .tribe-events-c-small-cta__link {
      text-decoration: none;
      @extend %button;
      @extend %button.outline;
    }
  }

  // Day
  .tribe-events-calendar-day {
    .tribe-events-calendar-day__time-separator {
      @extend .h3;
    }
  }

  // Search Bar
  .tribe-events-c-events-bar__search-filters-container, .tribe-events-c-view-selector__content {
    box-shadow: 0 0 10px $Nmid;
  }

  .tribe-events-c-events-bar__search {
      border: 1px solid $Nmid;
    }

  // Medium Breakpoint
  &.tribe-common--breakpoint-medium {
    .tribe-events-c-events-bar__search-filters-container, .tribe-events-c-view-selector__content {
      box-shadow: none;
    }
    .tribe-events-c-events-bar__search {
      border: none;
    }
    .tribe-events-calendar-list__event-featured-image-wrapper {
      display: none;
    }
    .tribe-events-calendar-list__event-details {
      width: 100%;
    }
  }
}

// Tooltip
.tribe-events-tooltip-theme {
  padding: 20px;

  h3 {
    font-size: 1em;
  }
}

#tribe-events-content {
  .tribe-common {
    .tribe-dialog__overlay {
      z-index: 1000;
    }

    .tribe-dialog__wrapper {
      z-index: 1001;
    }

  }
  .tribe-tickets__item__quantity__add, .tribe-tickets__item__quantity__remove, .tribe-common-b3 {
    border: 0;
  }
  .tribe-common-c-btn:disabled {
    background-color: $Nlight;
    border-color: $Nlight;
  }
}

// Event Tickets
.tribe-tickets__registration {
  &.tribe-common {
    .tribe-common-form-control-text__input {
      padding: .5em;
    }
  }
}
.tribe-tickets__registration__page-title {
  display: none;
}
body.page-tribe-attendee-registration .tribe-tickets__registration {
  max-width: none !important;
}

.tribe-tickets__item__attendee__fields__form {
  button[type="submit"] {
    display: none;
  }
}

.tribe-tickets-meta-label {
  h3 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
    #tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover, .tribe-events-calendar td.tribe-events-present.mobile-active, .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a {
        background-color: $springColor1;
    }
}


@media only screen and (min-width: #{$smallBreakpoint}) {
    #tribe-events, #tribe-events-pg-template {
        .tribe-events-event-meta {
            display: inline-block;
        }

        .tribe-events-cost, .tribe-events-event-cost {
            float: right;
        }
    }

    #tribe-events-day {
        h2 {
            display: inline-block;
            float: left;
        }

        .tribe-events-event-meta {
            float: left;
        }
    }
}


@media only screen and (min-width: #{$midBreakpoint}) {

    #tribe-events, #tribe-events-pg-template {

        .tribe-events-single {

            .tribe-events-event-meta {

                .tribe-events-meta-group {
                    padding: 0 4% 0 0;
                    float: left;
                }
            }
        }

        .tribe-events-event-cost {
            float: right;
        }

        .tribe-events-event-meta {
            display: inline-block;
        }

        .tribe-ticket.quantity {
            width: 30%;
        }

        .tribe-events-tickets {
            td {
                padding: .75em 1em .75em 0;
                vertical-align: top;
            }
        }
            .tickets_name {
                font-weight: $baseWeightBold;
            }
    }

    #tribe-events-day {

        .tribe-events-event-meta {
            float: left;
            width: 30%;
        }

        .tribe-events-content {
            float: right;
            width: 67%;
        }
    }
}
