.search-form {
    position: relative;
    @include css3-calc('width', '100% - 7em');
    max-width: 30em;
    padding:.5em 0;

    label {
        display: none;
    }
}

    .textbox.search--textbox {
        @include rem-px('max-width', 30rem);
        margin: 0;
        padding: .5em 2.25em .5em .25em;
        border: 1px solid $Nlighter;
    }

    .search--button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 2em;
        padding: 0;
        margin:.5em 0;
        @include clearIeGradient();
        background: url(assets/img/search-icon.png) no-repeat 50% 45%;
        border: 1px solid $Nlighter;
        border-left: 0;
        @include hide-text();
    }

.sidebar {
    .search-form {
        width: 100%;
        max-width: inherit;
        margin: 0;
    }
}



@media only screen and (min-width: #{$midBreakpoint}) {
    .header-main .search-form {
        clear: both;
        float: right;
        width: 15em;
        margin-right: 1.375em;
    }
}