.menu-item {
    padding: 0;
    margin-bottom: 0;
    @include transition(all .3s);

    &:last-child {
        border-bottom: 0;
    }

    a,
    a:visited {
        color: $linkColor;
        display: block;
        padding: .5em 0;
        @include transition(all .3s);

        &:hover, &:focus {
            color: $linkHover;
            @include transition(all .3s);
        }
    }

    &.current-menu-item > a, &.current-menu-parent > a {
        color: $linkHover;
    }
}

.nav-quicklinks {
    width: 100%;
    position: relative;
    z-index: 999;

    .menu-item {

        a, a:visited {
            color: $Nlighter;
            font-weight: 200;
            padding: 0 .5em;

            &:hover {
                color: $white;
            }
        }

        &.current-menu-item > a, &.current-menu-parent > a {
            color: $white;
        }
    }

    li:first-child {
        a {
            padding-left: 0;
        }
    }

    .sub-menu {
        display: none;
    }
}


    .quicklinks-menu {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
        }
    }

    .menu-quicklinks-menu-container {
        display: inline-block;
    }

.nav-main {
	position: absolute;
    right: 100%;
    top: 0;
    @include transition(all .8s);
    width: 80%;

    ul {
        list-style: none;
    }

    a {
        @include rem-px('font-size', 1rem);
    }
}

    .nav-main--menu {
        margin: 0;
        padding: 1em;
    }

        

.footer--menu {
    margin: 1em 0 0 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1em;
    }

     a, a:visited {
        padding: 0;
    }

    ul.sub-menu {
        display: none;
    }
}


@media only screen and (max-width: #{$midBreakpoint}) {
    .nav-main {
        position: absolute;
        right: 100%;
        top: 0;
        width: $sidebarWidthMid;
    }
}

@media only screen and (max-width: #{$smallBreakpoint}) {
    .nav-main {
        width: $sidebarWidthSmall;
    }
}


@media only screen and (min-width: #{$midBreakpoint}) {
    .menu-quicklinks-menu-container {
        padding: 0;
    }

    .nav-main {
        float: right;
        height: auto;
        left: auto;
        padding: 0;
        position: relative;
        right: auto;
        text-transform: uppercase;
        top: auto;
        width: auto;  
    }
         .menu-main-menu-container {
            height:100%;
        }

            .nav-main--menu {
                height:100%;
                padding: 0;
                text-align: right;

                .menu-item {
                    display: inline-block;
                    height: 100%;

                    & > a {
                        height: 100%;
                        display: inline-block;
                        padding: .5em;
                    }
                }
            }

    .footer--menu {
        margin-top: 0;

        .menu-item:first-child {
            a {
                padding-left: 0;
            }
        }
    }
}

@media only screen and (min-width: #{$widescreenBreakpoint}) {

}