// store notice, can load on all pages
.woocommerce-store-notice, p.demo_store {
  background-color: $alertColor;
}
  .admin-bar p.demo_store {
    top: 0;
  }
.content--page .woocommerce-notices-wrapper {
  margin: 0;
}

// woocommerce body classes
body.woocommerce, .woocommerce-page {

  form {
    max-width: $boxedMax;

    .form-row .required {
      color: $alertColor;
    }
  }

  .button {
    @extend %button;

    &.alt {
        @extend .alt;
    }

    &:disabled, &:disabled[disabled] {
        opacity: .5;
        filter: saturate(0);
    }
  }

    .content {
        @include clearfix();

        a.button, button.button, input.button {

            @extend %button;

            &.alt {
                @extend .alt;
            }

            &:disabled, &:disabled[disabled] {
                opacity: .5;
            }
        }
    }

    table.shop_table {
      border: 0;
    }

    .woocommerce-input-wrapper {
        width: 100%;
    }

    .added {
        &:after {
            position: absolute;
        }
    }

    div.product {
      margin-top: 0;

        div.images {
            img {
                max-height: 40em;
                width: auto;
            }

            .flex-control-thumbs li {
                padding: .5em .5em .5em 0;
            }
        }

        p.price, span.price {
          color: $springColor3;
        }
    }

    .price {
        color: $springColor3;

        del { // old pre-sale price
            & > span {
                text-decoration: line-through;
                color: $Nmid;
            }
        }

        ins { // new sale price
            background-color: transparent;
            color: $springColor3;
            font-weight: $baseWeightBold;
        }
    }

    span.onsale {
        background-color: $springColor3;
        padding: 0;
    }

    .woocommerce-breadcrumb {
        margin: 0;

        a {
            color:$linkColor;

            &:hover, &:focus {
                color: $linkHover;
            }
        }
    }

    nav.woocommerce-pagination  {
        ul li {
            a:focus, a:hover, span.current {
                background: $linkColor;
                color: $Nwhite;
            }
        }
    }

    .woocommerce-variation {
      margin-bottom: 1em;
    }

    .widget_price_filter {
        .ui-slider {
            &.ui-widget-content {
                background-color: $springColor1_Dk;
            }
            .ui-slider-handle, .ui-slider-range {
                background-color: $springColor1;
            }
        }
    }

    .widget_shopping_cart_content {
        .button:not(.checkout) {
            background-color: $springColor3;
        }
    }

    .related.products {
        margin-top: 2em;
    }

  // alerts
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        background-color: $Nlightest;
        border-top: 3px solid $springColor1;
        color: $Ndarkest;

        &:before {
            color: $springColor1;
        }
    }

        .woocommerce-error {
            border-color: $alertColor;
            &:before {
                color: $alertColor;
            }
        }

        .woocommerce-message {
            border-color: $Nmid;
            &:before {
                color: $Nmid;
            }
        }

// Make products display flex by default, with fallback to their floats.
    ul.products {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;

        li.product {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                //justify-content: center;

                &.added_to_cart.wc-forward {
                    @extend %button;
                    background-color: $springColor3;
                    border-color: $springColor3_Dk;
                    flex-grow: 0;
                    margin-top: .5em;
                    text-align: center;

                    &:hover {
                      background-color: $springColor3_Dk;
                      border-color: $springColor3;
                    }
                }

                h2.woocommerce-loop-product__title {
                  font-size: 1.1em;
                  font-weight: $baseWeight;
                  @include transition(all .2s);

                    &:hover, &:focus {
                        color: $linkColor;
                        @include transition(all .2s);
                    }
                }
            }

            .button {
                flex-grow: 0;
                text-align: center;
            }

            .price {
                color: $textColor;

                del {
                    display: inline-block;
                    margin-right: .5em;
                }
            }
        }
    }
    // With Sidebar, fewer products per row
    // Don't forget to update custom function in woo.php
    & .has_sidebar {
        ul.products {
            li.product {
                width:30.8%;
            }
        }
    }
    .cart-collaterals .cross-sells {
        ul.products {
            li.product {
                width: 48%;
            }
        }
    }
}

.woocommerce-checkout, .woocommerce-cart {
  #payment {
    background-color: $Nlightest;
  }

  .checkout {
    margin-left: auto;
    margin-right: auto;
  }
}

// WooCommerce Tabbed Account Page
.woocommerce-account {
  .addresses .title {
    h3, .edit {
      float: none;
    }
  }
}

.woocommerce-MyAccount-navigation {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        border-bottom: 1px solid $tableBorderColor;
        padding: .25em 0;

        &.is-active a {
            font-weight: $baseWeightBold;
            &:after {
                content: ' »';
            }
        }
    }
}
    li.woocommerce-MyAccount-navigation-link--customer-logout {
        display: block;
        border-bottom: 0;

        a {
            margin-top: 1em;
            @extend .button;
        }
    }

// fix for weird WooCommerce margin/spacing issues
@media only screen and (max-width:768px) {
    .woocommerce, .woocommerce-page {
        ul.products, ul.products[class*=columns-] {
            li.product {
                margin-right: 4%;
                width: 46%;
            }
        }
    }
    .woocommerce, .woocommerce-page {
        & .has_sidebar {
            ul.products, ul.products[class*=columns-] {
                li.product {
                    width: 46%;
                }
            }
        }
    }
}
