@media only screen and (max-width: #{$midBreakpoint}) {
    .nav-main--menu {

        .menu-item {
            position: relative;
        }

        .menu-item-has-children {

            a {
                position: relative;
            }
            
        }

        .menu-toggle {
            background: transparent;
            cursor: pointer;
            display:inline-block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 2em;
            @include transition(all .3s);

            &:hover, &:focus, &:active {
                background-color: $buttonBackground;
                @include transition(all .3s);

                &:after {
                    color: $buttonColor;
                    @include transition(all .3s);
                }
            }

            &:after {
                content: '+';
                color: $linkColor;
                font-size: 1.2em;
                padding: .3em 0;
                display: inline-block;
                width: 100%;
                text-align: center;
                @include transition(all .3s);
            }
        }

        .menu-toggle-active {
            &:after {
                content: "–";
            }
        }

        ul.sub-menu {
            background-color: $Nlighter;
            margin-left: 0;

             &.menu-collapse {
                border: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }
}

@media only screen and (min-width: #{$midBreakpoint}) {
    .nav-main--menu, .nav-main--menu * {
        margin: 0;
        padding: 0;  
    }

    .nav-main--menu {
        ul.sub-menu {
            background-color: $Nlightest;
            border: 0;
            display: block;
            height: auto;
            left: .5em;
            max-height: 0;
            overflow: hidden;
            padding: 0 .5em;
            position: absolute;
            text-align: left;
            top: 100%;
            @include transition(all .2s);
            //width: 10em // if you want a fixed width menu with text wrap
            z-index: 99;

            &:hover {
                overflow: inherit;
            }

            ul {
                top: 100%;
                left: 10%;
                background: darken($Nlightest, 5%);
            }

            li {
                padding: 0em;
                width: 100%;

                & > a {
                    color: $linkColor;
                    @include rem-px('padding', .6rem, 1rem);
                    text-transform: none;
                    width: 100%;
                    // white-space: normal // if you want a fixed width menu with text wrap
                }
            }
        }

        li {
            position: relative;

            &:hover, &.sfHover, &:focus {
                &>ul {
                    display: block;
                    max-height: 800px; // change based on your menu height
                    //min-width: 10em; // if you're not using text overflow
                    padding: .5em;
                    @include transition(all .5s);
                }
            }
        }

        & > li {
            //right align last submenu
            &:last-child {
                ul {
                    left: auto;
                    right: 0;
                }
            }
        }

        a {
            display: block;
            position: relative;
            @include text-overflow();
        }
    }
}
