.nav-pager {
  clear: both;
  overflow: auto;
}
    .pager {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .pager--previous, a[rel="prev"] {
            float: left;

            .read-more {
            	&:before {
            		content: '←';
            		display: inline-block;
            		margin-right: .3em;
            	}
              &:after {
                content: '';
                margin: 0;
              }
            }
        }

        .pager--next, a[rel="next"] {
           float: right;
           text-align: right;

            .read-more {
            	&:after {
            		content: '→';
            		display: inline-block;
            		margin-left: .3em;
            	}
            }
        }

 .post--pager {
     margin: 2em auto;
     text-align: center;
 }

    .post--pager-all {
        padding: 0 1em;
    }

.post-page-numbers {
  clear: both;
}
