.footer-main {
    background-color: $Ndarker;
    bottom: 0;
    color: $Nlightest;
    padding: $smallPadding 0;
    position: relative;
    width: 100%;

    p, h1, h2, h3 {
        color: $Nlightest;
    }
}
    .footer--inner {
        @include clearfix();
        padding: 0 $smallPadding;
    }

    .footer--copyright {
        padding-top: .5em;
    }

@media only screen and (min-width: #{$midBreakpoint}) {


    .footer--inner {
        @include rem-px('max-width', $boxedMax); 
        padding: 0 $maxPadding; 
    }
}

@media only screen and (min-width: #{$largeBreakpoint}) {
    .footer-main {
        //position: absolute;
    }
}

@media only screen and (min-width: #{$widescreenBreakpoint}) {
    .footer--inner {
        @include center-block;
    }
}