.menu-item.menu-item-has-children a {
  padding-right: 1.5em;
}

.menu-toggle {
    background: transparent;
    border: 0;
    display:inline-block;
    height: 85%;
    padding: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    vertical-align: middle;
    width: 1em;

    @include transition(all .3s);

    &:hover, &:focus, &:active {
      background: transparent;
        @include transition(all .3s);

        &:after {
            @include transition(all .3s);
        }
    }

    &:after {
        content: '+';
        color: $linkColor;
        font-size: 1em;
        padding: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        @include transition(all .3s);
    }
}

.menu-toggle-active {
    &:after {
        content: "–";
    }
}

@media only screen and (max-width: #{$midBreakpoint - 1}) {
    .nav-main--menu {

      * {
        &:focus {
          outline-color: $Nwhite;
        }
      }

        .menu-item {
            position: relative;
        }

        .menu-item-has-children {

            a {
                position: relative;
            }
        }

        ul.sub-menu {
            background-color: #{'rgba('+$Ndarkest_RGB+', .2)'};
            margin-left: 0;

             &.menu-collapse {
                border: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }

    .menu-toggle {
        background: $Nwhite;
        height: 100%;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 2em;

        &:hover, &:focus, &:active {
            background-color: $Ndarkest;
            @include transition(all .3s);

            &:after {
                color: $Nwhite;
            }
        }

        &:after {
            content: '+';
            color: $linkColor;
            font-size: 1.2em;
            padding: .3em 0;
        }
    }

    .menu-toggle-active {
        &:after {
            content: "–";
        }
    }
}

@media only screen and (min-width: #{$midBreakpoint}) {
    .nav-main--menu, .nav-main--menu * {
        margin: 0;
        padding: 0;
    }

    .nav-main--menu {
        ul.sub-menu { // secondary menu
            background-color: $linkColor;
            border: 0;
            display: block;
            height: auto;
            left: .5em;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            position: absolute;
            text-align: left;
            top: 100%;
            @include transition(all .2s);
            //width: 10em // if you want a fixed width menu with text wrap
            z-index: 99;

            * {
              &:focus {
                outline-color: $Nwhite;
              }
            }

            .menu-toggle {
              color: $Nwhite;

              &:after {
                color: $Nwhite;
              }
            }

            &:hover, &.can-overflow {
                overflow: inherit;
            }

            ul { // tertiary menu
                top: 0;
                left: 100%;
                background: $Ndark;
            }

            li {
                padding: 0em;
                width: 100%;

                & > a {
                    color: $Nwhite;
                    @include rem-px('padding', .6rem, 1rem);
                    text-transform: none;
                    width: 100%;
                    // white-space: normal // if you want a fixed width menu with text wrap

                    &:hover, &:focus, &:active {
                      background-color: #{'rgba('+$Ndarkest_RGB+', 0.2)'};
                      color: $Nwhite;
                    }
                }
            }
        }

        li { // all menu LI items
            position: relative;

            &:hover, &.tab-active {

                &>ul { // submenu on LI hover
                    display: block;
                    max-height: 800px; // change based on your menu height
                    //min-width: 10em; // if you're not using text overflow
                    @include transition(all .5s linear .3s);
                }
            }
        }

        & > li {
            //right align last submenu
            &:last-child {
                ul {
                    left: auto;
                    right: 0;

                    ul { // tertiary menus need to go left instead of right
                        right: 100%;
                    }
                }
            }
        }

        a {
            display: block;
            position: relative;
            @include text-overflow();
        }
    }
}
