.nav-pager {
  clear: both;
  overflow: auto;
  margin: 0 auto 1em auto;
  max-width: $boxedMax;
  text-align: center;
}
    .pager {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .pager--previous, a[rel="prev"] {
          display: inline-block;
          padding-right: .5em;

            .read-more {
            	&:before {
            		content: '←';
            		display: inline-block;
            		margin-right: .3em;
            	}
              &:after {
                content: '';
                margin: 0;
              }
            }
        }

        .pager--next, a[rel="next"] {
          display: inline-block;
          padding-left: .5em;

            .read-more {
            	&:after {
            		content: '→';
            		display: inline-block;
            		margin-left: .3em;
            	}
            }
        }

        @media only screen and (min-width: $smallBreakpoint) {
        .postname-pager .pager--previous {
          float: left;
          text-align: left;
          width: 50%;
        }
        .postname-pager .pager--next {
           float: right;
           text-align: right;
           width: 50%;
         }
      }

 .post--pager {
     margin: 2em auto;
     text-align: center;
 }

    .post--pager-all {
        padding: 0 1em;
    }

.post-page-numbers {
  clear: both;
}
