/* FORMS */
label {
    color: $labelColor;
    font-family: $subheadingFont;
    font-size: $labelFontSize;
    font-weight: $baseFontWeight;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="password"],
input[type="tel"],
select,
textarea,
.textbox {
    background-color: $textboxBackground;
    border: $textboxBorderWidth $textboxBorderStyle $textboxBorderColor;
    color: $textboxColor;
    display: block;
    font-family: $baseFont;
    font-size: .875em;
    font-weight: $baseFontWeight;
    @include rem-px('margin-bottom', .5em);
    max-width: $textboxMaxWidth;
    padding: $textboxPadding;
    width: 100%;

    &:active,
    &:focus {
        outline-color: $textboxBorderColorActive;
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin: 3px 0;
    padding: 0;
    *width: 1em;
    *height: 1em;
}

button,
.button,
.global-button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    color: $buttonColor;
    cursor: pointer;
    background-color: $buttonBackground;
    //@include vertical($buttonBackground, $buttonBackground2);
    border: 0;
    border-bottom: $buttonBorderWidth $buttonBorderStyle $buttonBorderColor;
    border-radius: 0;
    display: inline-block;
    font-family: $buttonFont;
    font-size: $buttonFontSize;
     -webkit-font-smoothing: auto;
    font-weight: $buttonFontWeight;
    height: auto;
    padding: $buttonPadding;
    @include transition(all .3s);
    width: auto;

    &:hover {
        background-color: $buttonBackground2;
        //@include vertical($buttonBackground2, $buttonBackground);
        border-bottom: $buttonBorderWidth $buttonBorderStyle $buttonBorderColor2;
        @include transition(all .3s);
    }

    &.alt {
        background-color: $buttonAltBackground;
        border-color: $buttonAltBorderColor;

        &:hover, &:focus {
            background-color: $buttonAltBackground2;
            border-color: $buttonAltBorderColor2;
        }
    }

    &.neutral {
        background-color: $Nmid;

        &:hover, &:focus {
            background-color: $Ndark;
        }
    }

    &:active,
    &:focus {
        outline-color: $buttonOutlineColor;
    }
}

input[type="hidden"] {
    display: none;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    @include opacity(.5);
}

::-webkit-input-placeholder {
    color: $textboxPlaceholderColor;
    font-size: $textboxPlaceholderSize;
    font-style: $textboxPlaceholderStyle;
}

:-moz-placeholder {
    color: $textboxPlaceholderColor;
    font-size: $textboxPlaceholderSize;
    font-style: $textboxPlaceholderStyle;
}

:-ms-input-placeholder {
    color: $textboxPlaceholderColor;
    font-size: $textboxPlaceholderSize;
    font-style: $textboxPlaceholderStyle;
}