/* BUTTON SIZES */
.button-xl {
    @include border-radius(6px);
    @include rem-px('font-size', 1.25rem);
    @include rem-px('padding', .875rem, 1.75rem); 
}

.button-lg {
    @include border-radius(5px);
    @include rem-px('font-size', 1rem);
    @include rem-px('padding', .5em, 1em); 
}

.button-med {
    @include border-radius(4px);
    @include rem-px('font-size', .875rem);
    @include rem-px('line-height', 1em);
    @include rem-px('padding', .375em, .75em); 
}

.button-xs {
    @include border-radius(3px);
    @include rem-px('font-size', .75rem);
    @include rem-px('line-height', .875em);
    @include rem-px('padding', .25em, .5em); 
}

.social-icons {
    display: inline-block;
    vertical-align: middle;
    //float: right;
}
    .button-social { // circle button
        border-radius: 50%; 
        @include rem-px('padding', .5rem);
        
        &:before {
            content: '\2665 '; // replace with your fallback icon, this is a heart
        }
    }