.mtm-per-row-2 {
	@include pinkmagic( $rowitems: 2, $padside: 4% );
}

.mtm-per-row-3 {
	@include pinkmagic( $rowitems: 3, $padside: 4% );
}

.mtm-per-row-4 {
	@include pinkmagic( $rowitems: 4, $padside: 4% );
}

.mtm-per-row-5 {
	@include pinkmagic( $rowitems: 5, $padside: 4% );
}

.mtm-per-row-6 {
	@include pinkmagic( $rowitems: 6, $padside: 4% );
}

.mtm-per-row-7 {
	@include pinkmagic( $rowitems: 7, $padside: 3% );
}

.mtm-per-row-8 {
	@include pinkmagic( $rowitems: 8, $padside: 3% );
}

.mtm-per-row-9 {
	@include pinkmagic( $rowitems: 9, $padside: 3% );
}

.mtm-per-row-10 {
	@include pinkmagic( $rowitems: 10, $padside: 3% );
}

.mtm-per-row-11 {
	@include pinkmagic( $rowitems: 11, $padside: 3% );
}

.mtm-per-row-12 {
	@include pinkmagic( $rowitems: 12, $padside: 3% );
}

.alignright,
.alignleft,
.aligncenter {
    display: block !important;
    max-width: 100%;
    margin-bottom: 1em;
}
.content:not(.has_sidebar) {
  .alignwide,
  .alignfull {
      margin: 0 -#{$smallPadding} 1rem -#{$smallPadding};
      max-width: none;
      width: calc( 100% + (2 * #{$smallPadding}) );
  }
}

@media only screen and (min-width: #{$smallBreakpoint}) {
    .alignright {
        float: right !important;
        margin-left: 1rem !important;
        //max-width: 50%;
    }

    .alignleft {
        float: left !important;
        margin-right: 1rem !important;
        //max-width: 50%;
    }

    .aligncenter {
        display: block;
        margin-left: auto;
				margin-right: auto;
        clear: both;
				text-align: center;
    }

    .alignnone {
        float: none !important;
        margin: 1em 0;
        max-width: 100%;
    }
    .content:not(.has_sidebar) {
      .alignwide, .alignfull {
          margin: 0 -#{$maxPadding} 1rem -#{$maxPadding};
          width: calc( 100% + (2 * #{$maxPadding}) );
      }
    }
}

@media only screen and (min-width: #{$boxedMax}) {
  .content:not(.has_sidebar) {
    .alignfull {
        margin-left: calc(-100vw / 2 + ( #{$boxedMax} - (2 * #{$maxPadding}) ) / 2);
        margin-right: calc(-100vw / 2 + ( #{$boxedMax} - (2 * #{$maxPadding}) ) / 2);
        width: 100vw;
    }
  }
}
