.alignright,
.alignleft,
.aligncenter,
.alignnone {
    display: block;
    max-width: 100%;
    margin: 0 0 .5em 0;
}

@media only screen and (min-width: #{$smallBreakpoint}) {
    .alignright {
        float: right;
        @include rem-px('margin', 0, 0, .5rem, 1rem);
        max-width: 50%;
    }

    .alignleft {
        float: left;
        @include rem-px('margin', 0, 1rem, .5rem, 0);
        max-width: 50%;
    }

    .aligncenter {
        display: block;
        margin: .5em auto;
        clear: both;
    }

    .alignnone {
        float: none;
        @include rem-px('margin', .5em, 0);
        max-width: 100%;
    }
}