/* Gutenberg Block Styles */

// Structure (to match editor)
.single--block {
  position: relative;
}

.post--content {
  & > div {
    margin-bottom: 1em;
    margin-top: 1em;
    &.wp-block-spacer {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.editor-styles-wrapper {
  span {
    display: inherit;
  }

  .content--inner {
    @include rem-px('max-width', $boxedMax); // for a boxed width background with no sidebar
  }
}

// Gutenberg Color Styles
.has-spring-color-1-background-color {
    background-color: $springColor1 !important;
    color: set-text-color( $springColor1 );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $springColor1 );
    }
}

.has-spring-color-1-color {
    color: $springColor1 !important;
}

.has-spring-color-2-background-color {
    background-color: $springColor2 !important;
    color: set-text-color( $springColor2 );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $springColor2 );
    }
}

.has-spring-color-2-color {
    color: $springColor2 !important;
}

.has-spring-color-3-background-color {
    background-color: $springColor3 !important;
    color: set-text-color( $springColor3 );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $springColor3 );
    }
}

.has-spring-color-3-color {
    color: $springColor3 !important;
}

.has-spring-color-4-background-color {
    background-color: $springColor4 !important;
    color: set-text-color( $springColor4 );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $springColor4 );
    }
}

.has-spring-color-4-color {
    color: $springColor4 !important;
}

.has-neutral-lightest-background-color {
    background-color: $Nlightest !important;
    color: set-text-color( $Nlightest );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $Nlightest );
    }
}

.has-neutral-lightest-color {
    color: $Nlightest !important;
}

.has-neutral-lighter-background-color {
    background-color: $Nlighter !important;
    color: set-text-color( $Nlighter );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $Nlighter );
    }
}

.has-neutral-lighter-color {
    color: $Nlighter !important;
}

.has-neutral-light-background-color {
    background-color: $Nlight !important;
    color: set-text-color( $Nlight );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $Nlight );
    }
}

.has-neutral-light-color {
    color: $Nlight !important;
}

.has-neutral-mid-background-color {
    background-color: $Nmid !important;
    color: set-text-color( $Nmid );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $Nmid );
    }
}

.has-neutral-mid-color {
    color: $Nmid !important;
}

.has-neutral-dark-background-color {
    background-color: $Ndark !important;
    color: set-text-color( $Ndark );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $Ndark );
    }
}

.has-neutral-dark-color {
    color: $Ndark !important;
}

.has-neutral-darker-background-color {
    background-color: $Ndarker !important;
    color: set-text-color( $Ndarker );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $Ndarker );
    }
}

.has-neutral-darker-color {
    color: $Ndarker !important;
}

.has-neutral-darkest-background-color {
    background-color: $Ndarkest !important;
    color: set-text-color( $Ndarkest );

    a, a:active, a:hover, a:focus {
      color: set-text-color( $Ndarkest );
    }
}

.has-neutral-darkest-color {
    color: $Ndarkest !important;
}

.has-white-background-color {
    background-color: $white !important;
}

.has-white-color {
    color: $white !important;
}




// Typography
p.wp-block-subhead {
    color: $Ndark;
    font-size: 1.3em;
    font-style: normal;
}

.wp-block-heading {
    h1 {
        @include rem-px('font-size', $h1Size);
    }

    h2 {
        @include rem-px('font-size', $h2Size);
    }

    h3 {
        @include rem-px('font-size', $h3Size);
    }

    h4 {
        @include rem-px('font-size', $h4Size);
    }

    h5 {
        @include rem-px('font-size', $h5Size);
    }

    h6 {
        @include rem-px('font-size', $h6Size);
    }
}

// Quotes
.wp-block-quote {
    @extend blockquote;

    &.is-large, &.is-style-large {
        cite {
            text-align: left;
        }
    }
    &:not(.is-large):not(.is-style-large) {
        border-left: $blockquoteBorderWidth $blockquoteBorderStyle $blockquoteBorderColor;
        padding-left: $blockquotePaddingLeft;
    }

}

.wp-block-pullquote {
    @extend blockquote;
    text-align: inherit;

    blockquote {
      border: 0;
      padding: 0;
      margin: 0;
    }

    &.alignleft, &.alignright {
      max-width: 50%;
    }

    &.is-large, &.is-style-large {
        cite {
            text-align: left;
        }
    }
    &:not(.is-style-solid-color) {
      background-color: transparent !important;
    }
    &:not(.is-large):not(.is-style-large):not(.is-style-solid-color) {
        border-left: $blockquoteBorderWidth $blockquoteBorderStyle $blockquoteBorderColor;
        padding-left: $blockquotePaddingLeft;
    }

    &.is-style-solid-color {
      border: 0;
      padding: 1em;

      blockquote {
        margin: 0 !important;
        max-width: none !important;

        p {
          font-size: inherit !important;
        }
      }
    }
}

// Separator
hr.wp-block-separator {
    border-bottom: 2px solid $Nmid;
    clear: both;
}

// table

.wp-block-table {
  &.is-style-stripes {
    border-width: 0;
    tbody tr:nth-child(odd) {
      background-color: $tableStripe;
    }
    td {
      border-width: 0;
    }
  }
}

// Buttons
.wp-block-button:not(.components-toolbar) {
    text-align: center;
    //width: 100%;

    .wp-block-button__link, .wp-block-button__link:not(.has-background), .wp-block-button__link:not(.has-text-color),
    wp-block .button:not(.insert-media):not(.acf-button) {
        @extend %button;

        &.no-border-radius {
          border-radius: 0;
        }
    }

    &.is-style-fill {
      .wp-block-button__link {
        border-width: 0 !important;
      }
    }

    &.is-style-outline {
        .wp-block-button__link, .wp-block-button__link:not(.has-background), .wp-block-button__link:not(.has-text-color) {
          //border-color: $buttonBackground;
          border: $buttonBorderWidth $buttonBorderStyle $buttonBorderColor;
          color: $buttonBorderColor;

            &:hover, &:focus {
              background-color: rgba($buttonBackground, 0.3);
              //border-color: $buttonBackground;
              color: $buttonBackground;
            }

            &:not(.has-background) {
              background-color: transparent;
            }
        }
        .wp-block-button__link.has-text-color {

        }
    }

    .wp-block-button__link.has-background {
      &:hover, &:focus {
        filter: saturate(10%);
      }
    }
}

// mutliple buttons
.wp-block-buttons {
  .wp-block-button {
    width: auto;
  }
}

// cover block
.wp-block-cover {
  margin-bottom: 0 !important;
}

.wp-block-cover__inner-container, .wp-block-group__inner-container {
  max-width: $boxedMax;
  margin-left: auto;
  margin-right: auto;

  .alignfull & {
    width: 100%;
    padding-left: 2rem; // for a boxed width background with no sidebar
    padding-right: 2rem; // for a boxed width background with no sidebar

    .content--inner {
      padding-left: 0;
      padding-right: 0;
    }

    @media only screen and (min-width: $midBreakpoint) {
      padding-left: $maxPadding; // for a boxed width background with no sidebar
      padding-right: $maxPadding; // for a boxed width background with no sidebar
    }
  }
}

// latest posts
.wp-block-latest-posts {
  margin-left: 0;
  padding-left: 0;

  li {
    font-size: $h4Size;
    font-weight: $h4FontWeight;
  }
}

// utilities override
.has-custom-background-color {
  padding-top: $smallPadding;
  padding-bottom: $smallPadding;

  &.alignfull, &.alignwide {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  @media only screen and (min-width: $midBreakpoint) {
    padding-top: $maxPadding;
    padding-bottom: $maxPadding;
  }
}



@media screen and ( min-width: 768px ) {
    .wp-block {
	max-width:	$boxedMax;
    }
}
