.sticky {
	background: darken($bodyColor, 5%);
    padding: 1em;
}

.alert {
	color: $springColor1;
    font-weight: bold;
}

.error-404 {
    @include clearfix();

    img {
        float: right;
        margin: 0 0 1em 1em;
    }
}