.wp-caption {
    text-align: center;
}

.wp-caption-text,
.gallery-caption {
    font-size: .75em;
    font-style: italic;
    line-height: 1.4em;
}

.youtube {
    position: relative;
    height: 0;
    width: 100%;
    margin-bottom: 3em;
    padding-top: 56.25%;
    z-index: 1;

    &.standard {
        padding-top: 75%;
    }

    iframe {
        position: absolute;
        top: 0; bottom: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

.embed-container, .entry-content-asset { 
        position: relative; 
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    } 

    .embed-container iframe,
    .embed-container object,
    .embed-container embed { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }