/* Gutenberg Block Styles */

// Structure (to match editor)
.single--block {
  position: relative;
}

.post--content {
  & > div {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

.wp-block-cover {
  margin-bottom: 0 !important;
}

.wp-block-cover__inner-container, .wp-block-group__inner-container {
  max-width: $boxedMax;
  margin-left: auto;
  margin-right: auto;

  .alignfull & {
    width: 100%;
    padding-left: 2rem; // for a boxed width background with no sidebar
    padding-right: 2rem; // for a boxed width background with no sidebar

    .content--inner {
      padding-left: 0;
      padding-right: 0;
    }

    @media only screen and (min-width: $midBreakpoint) {
      padding-left: $maxPadding; // for a boxed width background with no sidebar
      padding-right: $maxPadding; // for a boxed width background with no sidebar
    }
  }
}

// Typography
p.wp-block-subhead {
    color: $Ndark;
    font-size: 1.3em;
    font-style: normal;
}

blockquote.wp-block-quote {
    @extend blockquote;

    &.is-large, &.is-style-large {
        cite {
            text-align: left;
        }
    }
    &:not(.is-large):not(.is-style-large) {
        border-left: $blockquoteBorderWidth $blockquoteBorderStyle $blockquoteBorderColor;
        padding-left: $blockquotePaddingLeft;
    }
}

.wp-block-heading {
    h1 {
        @include rem-px('font-size', $h1Size);
    }

    h2 {
        @include rem-px('font-size', $h2Size);
    }

    h3 {
        @include rem-px('font-size', $h3Size);
    }

    h4 {
        @include rem-px('font-size', $h4Size);
    }

    h5 {
        @include rem-px('font-size', $h5Size);
    }

    h6 {
        @include rem-px('font-size', $h6Size);
    }
}

.wp-block-pullquote {
    color: $blockquoteColor;
    padding: 2em 0;
}

hr.wp-block-separator {
    border-bottom: 2px solid $Nmid;
    clear: both;
}

// Buttons
.wp-block-button:not(.components-toolbar) {
    text-align: center;
    //width: 100%;

    &:not(.is-style-squared) {
        .wp-block-button__link {
            border-radius: 10px;
        }
    }

    &.is-style-outline {
        .wp-block-button__link, .wp-block-button__link:not(.has-background), .wp-block-button__link:not(.has-text-color) {
          background: transparent;
          //border-color: $buttonBackground;
          border: $buttonBorderWidth $buttonBorderStyle $buttonBorderColor;
          color: $buttonBackground;

            &:hover, &:focus {
              background-color: rgba($buttonBackground, 0.3);
              //border-color: $buttonBackground;
              color: $buttonBackground;
            }
        }
    }

    .wp-block-button__link, .wp-block-button__link:not(.has-background), .wp-block-button__link:not(.has-text-color), wp-block .button:not(.insert-media):not(.acf-button) {
        @extend %button;
    }
}

// mutliple buttons
.wp-block-buttons {
  .wp-block-button {
    width: auto;
  }
}

.has-custom-background-color {
  padding-top: $smallPadding;
  padding-bottom: $smallPadding;

  @media only screen and (min-width: $midBreakpoint) {
    padding-top: $maxPadding;
    padding-bottom: $maxPadding;
  }
}

// Gutenberg Color Styles
.has-spring-color-1-background-color {
    background-color: $springColor1 !important;
    @extend %reverse;
}

.has-spring-color-1-color {
    color: $springColor1 !important;
}

.has-spring-color-2-background-color {
    background-color: $springColor2 !important;
    @extend %reverse;
}

.has-spring-color-2-color {
    color: $springColor2 !important;
}

.has-spring-color-3-background-color {
    background-color: $springColor3 !important;
    @extend %reverse;
}

.has-spring-color-3-color {
    color: $springColor3 !important;
}

.has-spring-color-4-background-color {
    background-color: $springColor4 !important;
    @extend %reverse;
}

.has-spring-color-4-color {
    color: $springColor4 !important;
}

.has-neutral-lightest-background-color {
    background-color: $Nlightest !important;
}

.has-neutral-lightest-color {
    color: $Nlightest !important;
}

.has-neutral-lighter-background-color {
    background-color: $Nlighter !important;
}

.has-neutral-lighter-color {
    color: $Nlighter !important;
}

.has-neutral-light-background-color {
    background-color: $Nlight !important;
}

.has-neutral-light-color {
    color: $Nlight !important;
}

.has-neutral-mid-background-color {
    background-color: $Nmid !important;
    @extend %reverse;
}

.has-neutral-mid-color {
    color: $Nmid !important;
}

.has-neutral-dark-background-color {
    background-color: $Ndark !important;
    @extend %reverse;
}

.has-neutral-dark-color {
    color: $Ndark !important;
}

.has-neutral-darker-background-color {
    background-color: $Ndarker !important;
    @extend %reverse;
}

.has-neutral-darker-color {
    color: $Ndarker !important;
}

.has-neutral-darkest-background-color {
    background-color: $Ndarkest !important;
    @extend %reverse;
}

.has-neutral-darkest-color {
    color: $white !important;
}
.has-white-background-color {
    background-color: $white !important;
}

.has-white-color {
    color: $white !important;
}

.editor-styles-wrapper {
  span {
    display: inherit;
  }

  .content--inner {
    @include rem-px('max-width', $boxedMax); // for a boxed width background with no sidebar
  }
}

@media screen and ( min-width: 768px ) {
    .wp-block {
	max-width:	$boxedMax;
    }
}
