.sticky {
    padding: 1em;
    background: darken($bodyColor, 5%);

}

.alert {
    font-weight: bold;
    color: $springColor1;
}

.error-404 {
    @include clearfix();

    img {
        float: right;
        margin: 0 0 1em 1em;
    }
}