.archive .sticky {
	background: darken($bodyColor, 5%);
    padding: 1em;
}

.alert {
	background-color: $Nmid;
	color: $white;
    font-size: 1.25em;
    margin-bottom: 1em;
    padding: 1em;
}

.error-404 {
    @include clearfix();

    img {
        float: right;
        margin: 0 0 1em 1em;
    }
}