.wp-caption {
    text-align: center;
}

.wp-caption-text,
.gallery-caption {
    @include rem-px('font-size', .75rem);
    font-style: italic;
    line-height: 1.4em;
}

.youtube {
    height: 0;
    @include rem-px('margin-bottom', 3rem);
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    z-index: 1;

    &.standard {
        padding-top: 75%;
    }

    iframe {
        height: 100% !important;
        position: absolute;
        top: 0; bottom: 0;
        width: 100% !important;
    }
}

.embed-container, .entry-content-asset { 
        height: auto;
        max-width: 100%;
        overflow: hidden;
        position: relative; 
        padding-bottom: 56.25%;
    } 

    .embed-container iframe,
    .embed-container object,
    .embed-container embed { 
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;   
    }