// Tables
$tableBackground: transparent;
$tableCellPadding: .25em;
$tableStripe: rgba($Ndarkest, 0.1);
$tableFontSize: .875em;
$tableLineHeight: 1.4em;
$tableBorderWidth: 1px;
$tableBorderStyle: solid;
$tableBorderColor: rgba($Ndarkest, 0.5);
$tableHover: transparent;
