// Tables
$tableBackground: transparent;
$tableCellPadding: .25em;
$tableStripe: $Nlighter;
$tableFontSize: .875em;
$tableLineHeight: 1.4em;
$tableBorderWidth: 1px;
$tableBorderStyle: solid;
$tableBorderColor: $Nlighter;
$tableHover: transparent;

