// Breakpoints
$smallBreakpoint: 30.5em;
$midBreakpoint: 48.5em;
$largeBreakpoint: 62.5em;
$widescreenBreakpoint: 83.5em;

// boxed max-width:
$boxedMax: 81rem;
$maxPadding: 3rem;
$smallPadding: 1rem;

$sidebarWidthSmall: 80%;
$sidebarWidthMid: 60%;