// Site Colors
$springColor1: #de1e7e; // pink
$springColor1_Lt: lighten( $springColor1, 10% );
$springColor1_Dk: darken( $springColor1, 10% );

$springColor2: #10aded;
$springColor2_Lt: lighten( $springColor2, 10% );
$springColor2_Dk: darken( $springColor2, 10% );

$springColor3: #10ca7e;
$springColor3_Lt: lighten( $springColor3, 10% );
$springColor3_Dk: darken( $springColor3, 10% );

$springColor4: #9155ed;
$springColor4_Lt: lighten( $springColor4, 10% );
$springColor4_Dk: darken( $springColor4, 10% );


// Neutrals
$Ndarkest: #322e2f;
$Ndarker: #464144;
$Ndark: #635d61;
$Nmid: #948b90;
$Nlight: #afa8af;
$Nlighter: #d4ccd4;
$Nlightest: #f4f2f3;
$white: #fff;

$warningColor: #e22025; //red
$bodyColor: $white;

$colors: (
  spring-color-1: $springColor1,
  spring-color-2: $springColor2,
  spring-color-3: $springColor3,
  spring-color-4: $springColor4
);
