// Forms
$textboxBackground: $Nwhite;
$textboxBorderColor: #{'rgba('+$Ndarkest_RGB+', 0.3)'};
$textboxBorderColorActive: $alertColor;
$textboxBorderWidth: 1px;
$textboxBorderRadius: 0 !default;
$textboxBorderStyle: solid;
$textboxColor: $Ndarkest;
$textboxPlaceholderColor: $Ndark;
$textboxPlaceholderSize: .875em;
$textboxPlaceholderStyle: normal; //Change to italic if you want placeholder text to be italic.
$textboxPadding: .5em;
$textboxMaxWidth: 100%;

$labelFontSize: 1.125em;
$labelColor: $Ndarkest;

// Buttons
$buttonBackground: $brandColor1;
$buttonBackground2: $brandColor1_Dk;
$buttonBorderColor: $brandColor1_Dk;
$buttonBorderColor2: $brandColor1;
$buttonBorderWidth: 2px;
$buttonBorderStyle: solid;
$buttonBorderRadius: 0 !default;

$buttonColor: $Nwhite;
$buttonColor2: $Nwhite;

$buttonFont: $baseFont;
$buttonFontSize: 1em;
$buttonFontWeight: 600;
$buttonPadding: .5em 1em;

$buttonAltBackground: $brandColor2;
$buttonAltBackground2: $brandColor2_Dk;
$buttonAltBorderColor: $brandColor2_Dk;
$buttonAltBorderColor2: $brandColor2;

$outline: $alertColor dotted 2px;
