// Forms
$textboxBackground: $white;
$textboxBorderColor: $Nlighter;
$textboxBorderColorActive: $springColor1;
$textboxBorderWidth: 1px;
$textboxBorderStyle: solid;
$textboxColor: $textColor;
$textboxPlaceholderColor: $Nlighter;
$textboxPlaceholderSize: .875em;
$textboxPlaceholderStyle: normal; //Change to italic if you want placeholder text to be italic.
$textboxPadding: .5em;
$textboxOutline: none;
$textboxMaxWidth: 30em;

$labelFontSize: 1.125em;
$labelColor: $textColor;

// Buttons
$buttonBackground: $springColor1;
$buttonBackground2: $springColor1_Dk; //Uncomment if you want a gradient background on a button. Also uncomment gradient in
$buttonBorderColor: darken($buttonBackground,15%);
$buttonBorderColor2: lighten($buttonBackground2, 15%);
$buttonBorderWidth: 1px;
$buttonBorderStyle: solid;
$buttonColor: $white;
$buttonOutlineColor: $springColor1;
$buttonFont: $baseFont;
$buttonFontSize: 1em;
$buttonFontWeight: 200;
$buttonPadding: .5em 2em;

$buttonAltBackground: $Ndark;
$buttonAltBackground2: $Nlighter;