// Forms
$textboxBackground: $white;
$textboxBorderColor: $Nlight;
$textboxBorderColorActive: $springColor1;
$textboxBorderWidth: 1px;
$textboxBorderStyle: solid;
$textboxColor: $textColor;
$textboxPlaceholderColor: $Nlighter;
$textboxPlaceholderSize: .875em;
$textboxPlaceholderStyle: normal; //Change to italic if you want placeholder text to be italic.
$textboxPadding: .5em;
$textboxOutline: none;
$textboxMaxWidth: 100%;

$labelFontSize: 1.125em;
$labelColor: $textColor;

// Buttons
$buttonBackground: $springColor1;
$buttonBackground2: $springColor1_Lt;
$buttonBorderColor: darken($buttonBackground,15%);
$buttonBorderColor2: lighten($buttonBackground2, 15%);
$buttonBorderWidth: 2px;
$buttonBorderStyle: solid;

$buttonColor: $white;
$buttonColor2: $white;
$buttonOutlineColor: $springColor1;

$buttonFont: $baseFont;
$buttonFontSize: 1em;
$buttonFontWeight: 600;
$buttonPadding: .5em 1em;

$buttonAltBackground: $springColor2;
$buttonAltBackground2: $springColor2_Lt;
$buttonAltBorderColor: darken($buttonAltBackground,15%);
$buttonAltBorderColor2: lighten($buttonAltBackground2, 15%);