// Site Colors
$springColor1: var(--spring-color-1); //#de1e7e // pink
$springColor1_Lt: var(--spring-color-1-lighter); //lighten( $springColor1, 10% );
$springColor1_Dk: var(--spring-color-1-darker);//darken( $springColor1, 10% );

$springColor2: var(--spring-color-2); //#009fd4 // blue
$springColor2_Lt: var(--spring-color-2-lighter); //lighten( $springColor2, 10% )
$springColor2_Dk: var(--spring-color-2-darker); //darken( $springColor2, 10% )

$springColor3: var(--spring-color-3); //#03a678 // green
$springColor3_Lt: var(--spring-color-3-lighter); //lighten( $springColor3, 10% )
$springColor3_Dk: var(--spring-color-3-darker); //darken( $springColor3, 10% )

$springColor4: var(--spring-color-4); //#9053ed
$springColor4_Lt: var(--spring-color-4-lighter); //lighten( $springColor4, 10% )
$springColor4_Dk: var(--spring-color-4-darker); //darken( $springColor4, 10% )

$springColor5: var(--spring-color-5); //#9053ed
$springColor5_Lt: var(--spring-color-5-lighter); //lighten( $springColor4, 10% )
$springColor5_Dk: var(--spring-color-5-darker); //darken( $springColor4, 10% )


// Neutrals
$Ndarkest:var(--neutral-darkest); //#30292d
$Ndark: var(--neutral-dark); //#635d61
$Nmid: var(--neutral-mid); //#948b90
$Nlight: var(--neutral-light); //#afa8af
$Nlightest: var(--neutral-lightest); //#f8f4f6
$Nwhite: var(--neutral-white); //#fff

$bodyColor: $Nwhite;

// Options
$textColor: var(--spring-text);
$textColor_Lt: var(--spring-text-lighter);
$textColor_Dk: var(--spring-text-darker);
$headingColor: var(--spring-heading);
$headingColor_Lt: var(--spring-heading-lighter);
$headingColor_Dk: var(--spring-heading-darker);
$subheadingColor: var(--spring-subheading);
$subheadingColor_Lt: var(--spring-subheading-lighter);
$subheadingColor_Dk: var(--spring-subheading-darker);
$interactColor: var(--spring-links);
$interactColor_Lt: var(--spring-links-lighter);
$interactColor_Dk: var(--spring-links-darker);
$alertColor: var(--spring-alert); //red
$alertColor_Lt: var(--spring-alert-lighter);
$alertColor_Dk: var(--spring-alert-darker);


// RGB
$springColor1_RGB: var(--spring-color-1-rgb);
$springColor2_RGB: var(--spring-color-2-rgb);
$springColor3_RGB: var(--spring-color-3-rgb);
$springColor4_RGB: var(--spring-color-3-rgb);
$springColor5_RGB: var(--spring-color-3-rgb);
$Ndarkest_RGB:var(--neutral-darkest-rgb);
$Ndark_RGB: var(--neutral-dark-rgb);
$Nmid_RGB: var(--neutral-mid-rgb);
$Nlight_RGB: var(--neutral-light-rgb);
$Nlightest_RGB: var(--neutral-lightest-rgb);
$Nwhite_RGB: var(--neutral-white-rgb);

// Color Arrays
$colors: (
  spring-color-1: $springColor1,
  spring-color-2: $springColor2,
  spring-color-3: $springColor3,
  spring-color-4: $springColor4,
  spring-color-5: $springColor5,
  neutral-darkest: $Ndarkest,
  neutral-dark: $Ndark,
  neutral-mid: $Nmid,
  neutral-light: $Nlight,
  neutral-lightest: $Nlightest,
  neutral-white: $Nwhite
);

$colorsDarken: (
  spring-color-1: $springColor1_Dk,
  spring-color-2: $springColor2_Dk,
  spring-color-3: $springColor3_Dk,
  spring-color-4: $springColor4_Dk,
  spring-color-5: $springColor5_Dk,
  neutral-darkest: #000000,
  neutral-dark: $Ndarkest,
  neutral-mid: $Ndark,
  neutral-light: $Nmid,
  neutral-lightest: $Nlight,
  white: $Nlightest
);

$colorsLighten: (
  spring-color-1: $springColor1_Lt,
  spring-color-2: $springColor2_Lt,
  spring-color-3: $springColor3_Lt,
  spring-color-4: $springColor4_Lt,
  spring-color-5: $springColor5_Lt,
  neutral-darkest: $Ndark,
  neutral-dark: $Nmid,
  neutral-mid: $Nlight,
  neutral-light: $Nlightest,
  neutral-lightest: $Nwhite,
  neutral-white: $Nwhite
);

$neutrals: (
neutral-darkest: $Ndarkest,
neutral-dark: $Ndark,
neutral-mid: $Nmid,
neutral-light: $Nlight,
neutral-lightest: $Nlightest,
neutral-white: $Nwhite
)
