// Site Colors
$springColor1: #de1e7e; // pink
$springColor1_Lt: #f067ab;
$springColor1_Dk: darken( $springColor1, 10% );

$springColor2: #000;
$springColor2_Lt: #000;
$springColor2_Dk: #000;

$springColor3: #000;
$springColor3_Lt: #000;
$springColor3_Dk: #000;

$springColor4: #000;
$springColor4_Lt: #000;
$springColor4_Dk: #000;


// Neutrals
$Ndarkest: #322e2f; 
$Ndarker: lighten($Ndarkest, 10%);
$Ndark: #595559; 
$Nmid: #948790; 
$Nlight: #B3ACB3; 
$Nlighter: #d4ccd4;
$Nlightest: #f4f2f3; 
$white: #fff;

$warningColor: red;
$bodyColor: $white;