// Breakpoints
$smallBreakpoint: 30.5em;
$midBreakpoint: 48.5em;
$largeBreakpoint: 62.5em;
$widescreenBreakpoint: 75.5em;

// boxed max-width:
$boxedMax: 81rem;
$maxPadding: 3rem;
$smallPadding: 1rem;

$contentMax: 860px;

$paddingTop: 150px;
$paddingTopMobile: $paddingTop;

$sidebarWidthSmall: 80%;
$sidebarWidthMid: 60%;

// For PinkGrid

$sm-bp:			$smallBreakpoint;		// Set your small breakpoint
$med-bp:		$midBreakpoint;		// Set your medium breakpoint
$lg-bp:			$largeBreakpoint;		// Set your large breakpoint
$xl-bp:			$widescreenBreakpoint;		// Set your x-large breakpoint

// Gallery
$gallery-height: 250px;
$gallery-width: 250px;
$gallery-gutter: 0.2em;