// Gutenberg Editor Styling

/* set to match max width of site minus padding */
.wp-block {
    max-width: calc( #{$boxedMax} - ( 2 * #{$maxPadding}) );
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    // @extend %alignwide;
    @include rem-px('max-width', $boxedMax); // for a boxed width background with no sidebar
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    @extend %alignfull;
}

/* "alignright" and "alignleft" blocks should not float unless theme says so */
.wp-block[data-align="right"], .wp-block[data-align="left"] {
  & > .block-editor-block-list__block {
    //float: none;
  }
  .wp-block-cover {
    max-width: 50%;
  }
}

/* Center align block */
.wp-block[data-align="center"] {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content--inner {
  @include rem-px('max-width', $boxedMax); // for a boxed width background with no sidebar
  margin-left: auto;
  margin-right: auto;
}

// styles within the visual editor (includes the popup boxes)
.block-editor-block-list__layout {
	font-family: $baseFont !important;
}

span { // to hide text but keep accessible
  &.editor-block-mover__description, &.block-editor-block-mover__description, &.block-editor-block-mover-button__description {
    // display: none;
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
}

// Editor Layout
// Edit post title to distinguish from other gutenberg content
.edit-post-visual-editor__post-title-wrapper {
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
  border-bottom: 1px solid $Nlightest;
  position: relative;
  z-index:2;

  .editor-post-title {
    margin-bottom: 0;
  }
}

.edit-post-visual-editor {
  padding-top: 0;
}

// if cover block is first, remove the top margin
.is-root-container {
  & > .wp-block:first-of-type {
    .wp-block-cover {
      margin-top: 0;
    }
  }
}

// Typography
	.block-editor-post-title__block .block-editor-post-title__input, .editor-post-title__block .editor-post-title__input, .wp-block-cover h2 {
		font-family: $headingFont !important;
    font-weight: $h1FontWeight !important;
	}

	p {
		font-family: $baseFont !important;
	}
	h1, h2, h3, .h1, .h2, .h3 {
		font-family: $headingFont !important;
	   margin-bottom: $textFontSize * .8;
	   margin-top: $textFontSize * 1.5;
	}

	h4, h5, h6, .h4, .h5, .h6 {
		font-family: $subheadingFont !important;
	   margin-bottom: $textFontSize * .8;
	   margin-top: $textFontSize * 1.5;
	}

	dd, blockquote {
		margin-left:0;
	}

	p.wp-block-subhead {
	    font-family: $subheadingFont !important;
	    font-size: 1.3em;
	    font-style: normal;
	}

// Iris Picker
.iris-picker {
  .iris-strip {
    margin-left: -5px;
    max-height: 180px;
  }
}

.iris-picker {
    height: auto !important;
    overflow: hidden;
    padding: 20px 20px 10px !important;
  }

  .iris-border .iris-palette-container {
    bottom: unset;
    left: unset;
    overflow: hidden;
    position: relative;
    top: unset;
  }

  .iris-picker .iris-palette {
    height: 40px !important;
    margin-bottom: 5%;
    margin-left: 0 !important;
    margin-right: 10px;
    width: calc(25% - 10px) !important;
  }

  .iris-picker .iris-palette:nth-child(4n) {
    margin-right: 0;
  }


  .iris-picker-inner {
    display: none;
  }

/* panel overrides just for editor-styles */

// Tabs Visibility
.mtm-tabs--wrapper {
  .mtm-tabs--content.current {
    display: none;

    &#tab-1 {
      display: inherit;
    }
  }
  button.mtm-tabs--title.current {
    background-color: transparent;
    color: $linkColor;

    &#tab-title-1 {
      background-color: $tableHeaderBorderColor;
      color: $Nwhite;
    }
  }
}

// Slides Visibility
ul.slides {
  list-style: none;
  margin-left: auto;
  padding: 0;
  li {
    display: none;
    &:first-of-type {
      display: block;
    }
  }
}

// ACF Specific
.acf-block-component .components-placeholder {
  &.components-placeholder {
    background-color: transparent;
    border-color: #ccc;
    box-shadow: none;
    outline: 2px dotted #ccc;
  }
  .components-placeholder__fieldset {
    text-align: center;
  }
}



// TinyMCE Overrides to emulate post content (classic)
#tinymce {
	p {
		font-family: $baseFont;
	}
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
       margin-bottom: $textFontSize * .8;
       margin-top: $textFontSize * 1.5;
    }

    dd, blockquote {
    	margin-left:0;
    }
}

// Resets to not break the menu
#adminmenu {
	ul {
		margin: inherit;
	}

	span {
		vertical-align: inherit;
	}
}

// Any specific classes available here for the styles box
// https://codex.wordpress.org/TinyMCE_Custom_Styles
