// Customizer: Round
body.option-round {
  .post--thumbnail {
    border-radius: 50%;
  }

  button, .button, a.button, button.button, a.added_to_cart {
    border-radius: 3em !important;
  }

  .wp-block-button:not(.components-toolbar) .wp-block-button__link {
    border-radius: 3em;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="url"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="file"],
  input[type="password"],
  input[type="tel"],
  select,
  textarea,
  .textbox {
    border-radius: 5px;
  }

  .mtm-tabs--title {
    border-radius: 0 0 6px 6px !important;

    @media only screen and (min-width: $midBreakpoint) {
      border-radius: 6px 6px 0 0 !important;
    }
  }

  .mtm_module_call_to_action {
    &:not(.alignfull) {
      border-radius: 10px;
    }
  }
}

// Customizer: Dark
body.option-dark {
  .header-main {
    border-bottom: 0;
  }
  .header--inner, .footer-main {
    background-color: $textColor;
    color: $Nwhite !important;

    p, h1, h2, h3, h4, h5, h6, label {
      color: $Nwhite !important;
    }

    a, .open-button {
      color: $Nwhite;

      &:hover {
        color: $Nlight;
      }

      &:before, &:after {
        color: $Nwhite;

        &:hover {
          color: $Nlight;
        }
      }
    }
  }

  .open-sidebar:before {
    border-color: $Nwhite;
  }

  .menu-item a, .menu-item a:visited {
    color: $Nwhite;
  }

  @media only screen and (min-width: $navBreakpoint) {
    .header-main {
      background-color: $textColor;
    }
    .menu-toggle:after {
      color: $Nwhite;
    }
  }
}
